/* ==|== fancy-menu styles =====================================================
   Author: James Borillo
   Company: Lex Norsk Samfunnsinformasjon as
   Department: IT
   ========================================================================== */

.fancy_menu,
.fancy_menu li,
.fancy_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.fancy_menu {
 	position: relative;
}

.fancy_menu div, .fancy_menu li {
 	line-height: 1.3em;
 	vertical-align: middle;
 	zoom: 1;
 	padding:3px;
}

.fancy_menu .fancy_menu_parent {
 	/** ../img/arrow_down.png') **/
 	background: url(../img/spriteme/sprite.png) no-repeat #FFFFFF;
	background-position: 145.82px -616px;
 	-webkit-box-shadow: 0 0 0 #F0F0F0 inset, 2px 2px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #FFFFFF inset;
 	-moz-box-shadow: 0 0 0 #F0F0F0 inset, 2px 2px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #FFFFFF inset;
 	-o-box-shadow: 0 0 0 #F0F0F0 inset, 2px 2px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #FFFFFF inset;
 	box-shadow: 0 0 0 #F0F0F0 inset, 2px 2px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #FFFFFF inset;
 	padding-right: 30px;
}

.rightAlignedText .fancy_menu .fancy_menu_parent {
	padding-right: 0px;
	padding-left: 30px;
}

.fancy_menu div a {
 	display:block;
 	padding:3px;
 	text-decoration: none;
	color: #404040;
}

.fancy_menu div a:hover {
	color:#AAA;
	cursor:pointer;
}

.fancy_menu ul {
 	width:98%;
	display:none;
 	position: absolute;
 	left: 0;
 	z-index: 5000;
 	background:#FFFFFF;
 	border:1px solid #AAAAAA;
 	padding:1%;
 	-webkit-box-shadow: 0px 0px 10px 3px #888888;
 	-moz-box-shadow: 0px 0px 10px 3px #888888;
 	-o-box-shadow: 0px 0px 10px 3px #888888;
 	box-shadow: 0px 0px 10px 3px #888888;
 	max-height:500px;
 	overflow-y: auto;
 	overflow-x: hidden;
 	
}

.fancy_menu ul::-webkit-scrollbar {
	width:10px;
	height:10px;
}

.fancy_menu ul::-webkit-scrollbar-track {
	background:#FFF;
	border:1px solid #CCDDE7;
}

.fancy_menu ul::-webkit-scrollbar-thumb {
	background-color: #CCDDE7;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

.fancy_menu ul li {
 	float: none;
 	padding:0!important;
}

.fancy_menu ul ul {
 	top: 1px;
 	left: 99%;
}

/**** Advanced - Override the default from dropdown to slideright****/

.slide_right .fancy_menu_parent {
 	background: url(../img/arrow_right.png) no-repeat 0 20px #FFFFFF;
 	background-position: right;
}

.slide_right ul {
 	left:95%;
 	top:0;
}

/***** This hover_class is removed at pageload if Javascript is ON *******/
.fancy_menu .hover_class:hover > ul {
 	display: block;
}

/***** Override default ********/

#skoleaar_nav {
	width:180px;
	text-align:left;
	float:right;
	margin-bottom:8px;
}

#skoleaar_nav ul li{
	display:block!important;
}

#fylke_nav .fancy_menu_parent {
 	width: 255px;
 	background-position: 251.66000000000003px -616px;
 }
 
#fylke_nav {
	float:right;
	margin:10px 15px 0 0;
}

#fylke_nav .velgInfo, #fylke_nav .valgtInfo, #skole_nav .velgInfo, #skole_nav .valgtInfo{
	background:none;
	padding:5px 0;
}

#fylke_nav .velgInfo a, #fylke_nav .valgtInfo a, #skole_nav .velgInfo a, #skole_nav .valgtInfo a {
	color:#666;
	font-size:.9em;
	text-decoration: none;
	position:relative;
	background-color:#FFF;
	margin-right:-23px;
	margin-left:-5px;
	-webkit-box-shadow: 2px 2px 3px #888;
	-moz-box-shadow: 2px 2px 3px #888;
	-o-box-shadow: 2px 2px 3px #888;
	box-shadow: 2px 2px 3px #888;
	display: block;
	padding: 3px;
}

.dropdown_box_active #fylke_nav .velgInfo a, .dropdown_box_active #skole_nav .velgInfo a{
	background:#666;
	color:#FFF;
	display: block;
	padding: 3px;
}
.dropdown_box_active #fylke_nav .velgInfo a:after, .dropdown_box_active #skole_nav .velgInfo a:after{
	border-left-color: #444;
}

#fylke_nav .velgInfo a:after, #fylke_nav .valgtInfo a:after, #skole_nav .velgInfo a:after, #skole_nav .valgtInfo a:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-color: transparent;
	bottom: -6px;
	border-width: 0 0 6px 6px;
	right: 0px;
	border-left-color: #888;
}

#fylke_nav .valgtInfo a, #skole_nav .valgtInfo a{
	background-color:#ED1C24;
	color:#FFF;
}

#fylke_nav .valgtInfo a:after, #skole_nav .valgtInfo a:after {
	border-left-color: #990000;
}

.domain {
	position:relative;
	width:288px;
	color:#FFFFFF;
}

.dropdown_box_active .domain{
	color:#000;
}

.domain .valgtInfo a{
	display:block;
	padding:0 3px;
}

.domain div {
	line-height: 1.3em;
}

.domain .fylke {
	color: #FFFFFF;
	padding: 6px 6px 3px 0px;
	font-size: 1.2em;
}
.dropdown_box_active .domain .fylke {
	color: #404040;
}
	
#skole_nav {
	margin: 10px 15px 0;
}

#skole_nav .fancy_menu_parent {
	width:313px;
	background-position: 308.5px -616px;
}
#skole_nav .fancy_menu_parent.til_norges_kart {
	padding-right:0;
	width:343px;
}

#prog_nav .fancy_menu_parent {
	width:138px;
	background-position: 137px -617px;
}

#prog_nav ul {
 	width:120%;
}

#prog_nav a {
	color:#404040!important;
	font-weight:normal!important;
	font-size:11px!important;
}

#prog_nav a:hover {
	color:#AAA!important;
}

#falang_nav .fancy_menu_parent {
	width:158px;
	background-position: 157px -616px;
}

.rightAlignedText #falang_nav .fancy_menu_parent {
	background-position: -6px -616px;
}

#falang_nav ul {
 	width:100%;
 	border-right: 0;
}

#falang_nav a {
	color:#404040!important;
	font-weight:normal!important;
	font-size:11px!important;
}

#falang_nav a:hover {
	color:#AAA!important;
}


.fancy_menu .menyOrganisasjonsform {
	font-weight:bold;
}

.fancy_menu .menyOrganisasjonsform:not(:first-of-type) {
	margin-top:10px !important;
}

.fancy_menu .menyTilbysIkke a {
	color:#AAA;
}