/* ==|== IE7 styles =====================================================
   Author: James Borillo
   Company: Lex Norsk Samfunnsinformasjon as
   Department: IT
   ========================================================================== */

#container {
    position:relative;
}

#vertical_nav ul.level_1 li.active1 {
	width: 205px;
}

#horizontal_elements {
	position: static;
}

#search_button {
	top:0px;
}

.fylke_logo{
	background: url('../img/kommune/Fylkesvapen.png') no-repeat;
	float:left;
	width: 70px;
	height: 80px;
}


.fancy_menu {
	z-index:4000;
}

#prog_nav .fancy_menu_parent {
	width: 128px;
}

#content_75, #content_100, #primary_sidebar {
    z-index:auto;
}

.ribbon_black, .ribbon_gray, .ribbon_red, .ribbon_green, .ribbon_yellow {
	position:static;
}

#skole_nav ul {
	width: 346px;
}

#fylke_nav ul {
	width: 287px;
}

#prog_nav ul {
	width: 300px;
}

#fylke_nav .velgInfo a, #fylke_nav .valgtInfo a, #skole_nav .velgInfo a, #skole_nav .valgtInfo a, .dropdown_box_active #fylke_nav .velgInfo a, .dropdown_box_active #skole_nav .velgInfo a { {
	background:none;
}

#fylke_nav .velgInfo a, #fylke_nav .valgtInfo a, #skole_nav .velgInfo a, #skole_nav .valgtInfo a {
	color: #FFF;
}
#fylke_nav .valgtInfo a, #skole_nav .valgtInfo a {
	color:#888;
}
.dropdown_box_active #fylke_nav .velgInfo a, .dropdown_box_active #skole_nav .velgInfo a {
	color:#AAA;
}

.no_jcarousel_small li {
	float:left;
	margin:0 3px 3px 0;	
}

.no_jcarousel_small img {
	width:70px;
	height:auto;
}

.kursList li.selectable a, .kursList li.under a, .kursList li.select a {
	filter: alpha(opacity=50);
}

.kursList li.selected a {
	filter: alpha(opacity=100);
}

.toggleSide .toggleTitle {
	padding-left:30px;
	cursor:pointer;
	background:url('/img/arrow_right.png') no-repeat;
	position: static;
}

.toggleSide .toggleTitle.toggleTextShown {
	background:url('/img/arrow_down.png') no-repeat;
}

.toggleSide .adresseTable {
	width: 45%;
	margin-right: 2%;
}

.my_overlay {
	background-color:transparent;
}