/* ==|== IE8 styles =====================================================
   Author: James Borillo
   Company: Lex Norsk Samfunnsinformasjon as
   Department: IT
   ========================================================================== */

#first_slider li, #second_slider li, #third_slider li {
	border:1px solid #AAA;
	border-top:0;
	border-left:0;
}

#container_search {
	width:172px;
	border:1px solid #AAA;
}

#fylke_nav .fancy_menu_parent {
 	width: 253px;
 	border:1px solid #AAA;
}
 
#skole_nav .fancy_menu_parent {
	width:311px;
	border:1px solid #AAA;
}

#prog_nav .fancy_menu_parent {
	width:136px;
	border:1px solid #AAA;
}

#skoleaar_nav .fancy_menu_parent {
	border:1px solid #AAA;
}

.prog_media_img{
	border:1px solid #AAA;	
	border-top:0;
	border-left:0;
}

.prog_media_video {
	margin-left:7px;
}

.kursList li.selectable a, .kursList li.under a, .kursList li.select a {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.kursList li.selected a {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.toggleSide .skoleMedia .images {
	margin-left:2px;
}

.fylke_logo_artikkel {
	background: url(../img/kommune/Fylkesvapen_small_ie.png) no-repeat;
}

.my_overlay{
	background:transparent;
}

/* Fancybox - IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }