/* ==|== kursgraf styles =====================================================
   Author: James Borillo
   Company: Lex Norsk Samfunnsinformasjon as
   Department: IT
   ========================================================================== */

.tegnforklaringer {
	overflow:hidden;
	float:left;
	background-color:#F8F8F8;
	padding:5px 10px;
	margin-bottom:20px !important;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
	max-width: 565px;
}

.tegnforklaringer li{
	display:inline;
	float:left;
	margin-right:15px;
}

.tegnforklaringer .icon {height:10px;width:13px;display:inline;float:left; margin:3px 5px 3px 0;}
.tegnforklaringer li.landslinjer .icon {background:url(../img/spriteme/sprite.png) no-repeat -829px -167px;}
.tegnforklaringer li.skolenTilbyr .icon {background-color:#FDB913;}
.tegnforklaringer li.skolenTilbyrIkke .icon, .tegnforklaringer li.tilbysSenere .icon {background-color:#FFE06A;}
.tegnforklaringer li.tilbysSenere {font-style:italic;}
.tegnforklaringer li.krysslop .icon {background:url(../img/spriteme/sprite.png) no-repeat -828px -190px;}
.tegnforklaringer li.kompetanse .icon {background-color:#A4D7EB;}
.tegnforklaringer li.oppleringSkole .icon {background-color:#FDB913;}
.tegnforklaringer li.oppleringBedrift .icon {background-color:#8AC75A;}
.tegnforklaringer li.merknad .icon {background:url(../img/spriteme/sprite.png) no-repeat -858px -188px; height: 12px;}

.colYrs {
	overflow:hidden;
	border-top:1px dashed #888;
	padding-top:10px;
}
.colYrs .colHeader{
	font-size:1.7em;
	float: left;
	padding: 5px;
	width: 210px;
	background: #EEE;
	margin: 0 10px;
}

.kursGraf {
	overflow:hidden;
	padding-bottom: 20px;
	border-bottom: 1px dashed #888;
	margin-bottom: 20px;
}

.kursGraf a {
	text-decoration:none;
}

.kursGraf .grafToggle,
.kursGraf .intervjuToggle,
.kursGraf .spesialutgaver,
.kursGraf .medlemmerToggle,
.kursGraf .kommuneToggle,
.kursGraf .skille {
	cursor:pointer;
	font-size: 14px;
	color:#404040;
	padding:3px 3px 3px 14px;
	background-color:transparent;
	margin:5px 0;
	position:relative;
	display:none;/*hide by default*/
}

.kursGraf .skille   {
	font-size: 12px;
}

.bedriftlisteAlle h1 a {
	font-size: 12px;
	float: inherit;
	color: #0088CC;
}

.kursGraf .bedriftlisteAlle .skille {
		display: block; /* allways show this */
		cursor: auto;
}


.kursGraf .intervjuToggle, 
.kursGraf .spesialutgaver,
.kursGraf .medlemmerToggle,
.kursGraf .kommuneToggle,
.kursGraf .skille   {
	background:none;
}

.kursGraf .grafToggle:before,
.kursGraf .intervjuToggle:before,
.kursGraf .spesialutgaver:before,
.kursGraf .medlemmerToggle:before,
.kursGraf .kommuneToggle:before {
	content: '';
	position: absolute;
	border-style: solid;
	left: 0px;
	top:8px;
	border-width: 5px 0 5px 5px;
	border-color: transparent transparent transparent #555;
}
.kursGraf .spesialutgaver:before {
	left:6px;
}

.kursGraf .grafToggle.expand:before,
.kursGraf .intervjuToggle.expand:before,
.kursGraf .spesialutgaver.expand:before,
.kursGraf .medlemmerToggle.expand:before,
.kursGraf .kommuneToggle.expand:before  {
	border-width: 5px 5px 0 5px;
	border-color: #555 transparent transparent transparent;
	top: 10px;
}

.kursGraf .spesialutgaver  {
	overflow:hidden;
	background:#EEE;
	padding-left:20px;
}

.kursGraf .spesialutgaver a{
	margin-left:0;
}

.kursGraf .kursKolonne {
	display:inline;
	float:left;
	padding: 0 10px;
	background:url(../img/kursGraf_border_vertical.png) repeat-y right top;
}

.kursGraf .kursKolonne:last-child {
	background:none;
}

.kursGrafHeader {
	min-height:45px;
	margin:5px 0;
}

.kursGrafHeader h4{
	min-height:35px;
}

.skole, .bedrift .tekst {
	width:160px;
}

.kursGraf .yrs0_5,
.skoleside .oppleringstilbud .yrs0_5  {width:110px;display:block;}
.kursGraf .yrs1,
.skoleside .oppleringstilbud .yrs1  {width:220px;display:block;}
.kursGraf .yrs1_5,
.skoleside .oppleringstilbud .yrs1_5  {width:340px;display:block;}
.kursGraf .yrs2,
.skoleside .oppleringstilbud .yrs2  {width:460px;display:block;}
.kursGraf .yrs2_5,
.skoleside .oppleringstilbud .yrs2_5  {width:580px;display:block;}
.kursGraf .yrs3,
.skoleside .oppleringstilbud .yrs3  {width:700px;display:block;}
.kursGraf .yrs3_5,
.skoleside .oppleringstilbud .yrs3_5  {width:820px;display:block;}
.kursGraf .yrs4,
.skoleside .oppleringstilbud .yrs4  {width:940px;display:block;}
.kursGraf .yrs4_5,
.skoleside .oppleringstilbud .yrs4_5 {width:1060px;display:block;}
.kursGraf .yrs5,
.skoleside .oppleringstilbud .yrs5  {width:1180px;display:block;}
.kursGraf .yrs5_5,
.skoleside .oppleringstilbud .yrs5_5  {width:1190px;display:block;}
.kursGraf .yrs6,
.skoleside .oppleringstilbud .yrs6  {width:1310px;display:block;}
.kursGraf .yrs6_5,
.skoleside .oppleringstilbud .yrs6_5  {width:1440px;display:block;}
.kursGraf .yrs7,
.skoleside .oppleringstilbud .yrs7  {width:1560px;display:block;}
.kursGraf .yrs7_5,
.skoleside .oppleringstilbud .yrs7_5  {width:1680px;display:block;}
.kursGraf .yrs8,
.skoleside .oppleringstilbud .yrs8  {width:1800px;display:block;}

.kursList li {
	display:block;
	margin:5px 0;
	padding:3px 0;
	position:relative;
}

.kursList li a {
	float:left;
	color:#404040;
	width:80%;
	margin-left:5px;
	text-decoration:none;
}

.kursList li.skole {
	opacity:1;
	background-color:#FDB913;
}

.kursList li.tilbysskole {
	background-color:#FDB913;
}

.kursList li.tilbysIkkeskole {
	background-color:#FFE06A;
}
.kursList li.tilbysIkkeskole a {
	color:#666;
}

.kursList li.bedrift {
	background-color:#8AC75A;
}

.kursList li.selected a {
	font-weight:bold;
}

.kursList li.utgatt {
	text-decoration: line-through;
}

.kursList li.tilbyr_senere a {
	font-style: italic;
}

.kursKolonne:not(:last-child) .kursList li.selected:after {
	content:'';
	position: absolute;
	width: 10px;
	height: 2px;
	background: #FF0000;
	right:-10px;
	top:10px;
}

.kursKolonne:not(:first-child) .kursList li.selected:before {
	content:'';
	position: absolute;
	width: 10px;
	height: 2px;
	background: #FF0000;
	left:-10px;
	top:10px;
}

.kursKolonne:nth-last-child(2) .kursList li.point_right:after {
	content:'';
	position: absolute;
	width: 10px;
	height: 10px;
	/*background: url('../img/point_right.png')no-repeat;*/
	background: url(../img/spriteme/sprite.png) no-repeat -1382px -12px;
	right:-10px;
	top:6px;
}

.kursList li.end a {
	background-image:none;
}

.kursList li.under {
	/* indent removed */
}

.kursList li.tekst a {
	background-color:#FFF;
}

.kursList li.landstilbud {
	opacity:1;
}


.tegneForklaring{
	float:left;
	max-width:10%;
}

.tegneForklaring .merknad_img, .tegneForklaring .merknad_valgt_img  {
	width:16px;
	height:15px;
	background:url(../img/spriteme/sprite.png) no-repeat -858px -186px;
}
.tegneForklaring .merknad_valgt_img {
	background:url(../img/spriteme/sprite.png) no-repeat -858px -165px;
}

.tegneForklaring .krysslop_img {
	width:14px;
	height:13px;
	background:url(../img/spriteme/sprite.png) no-repeat -823px -190px;
	margin-top:3px;
}

.tegneForklaring .landstilbud_img {
	width:18px;
	height:14px;
	background:url(../img/spriteme/sprite.png) no-repeat -823px -164px;
}

.kursGraf .kursOpplysninger {
	margin:0;
}

.kursGraf .kursOpplysninger ul{
	list-style-type: disc;
	margin: 0 1.5em 1.5em;	
}

.kursGraf .kursOpplysninger .kursIntervjuer, .kursGraf .kursOpplysninger .kompetanseliste, .kursGraf ul.timefordeling, .kursGraf ul.skoleliste, .medlemsbedrifter .skoleliste {
	list-style-type: none;
	margin:5px 0;
}

.medlemsbedrifter .skoleliste {
	width: 220px;
}

.kursGraf .fagHovedomrader {
	list-style-type:disc;
	margin: 0 1.5em 1.5em;
}

.kursIntervjuer li > a, .kompetanseliste li > a {
	display:block;
	background-color:#A4D7EB;
	margin-bottom:3px;
	padding:3px;
	color:#666;
	margin-right: 3px;
}

.kursIntervjuer li.selectable a, .kursIntervjuer li.selected a{
	display:block;
}

.kursIntervjuer li.selected a {
	opacity:1;
	font-weight: bold;
}

.intervjuInfo {
	width:460px;
	margin-right:20px;
	overflow:hidden;
	float:left;
}

.intervjuInfo h1 {
	max-width: 250px;
	word-wrap: break-word;
}

.intervjuInfo table {
	width:252px;
	margin: 10px 0;
}

.intervjuInfo tr {
	border-top:1px solid #666;
}

.intervjuInfo tr:last-child {
	border-bottom:1px solid #666;
}

.intervjuInfo td {
	padding:3px 10px 0 0;
	max-width: 125px;
}

.skoleliste .kursliste {
	margin-left:24px;
}

.skoleliste .fylke {
	background:none;
	font-weight:bold;
	margin: 10px 0 0 0;
	padding: 0;
}

.skoleliste .organisasjonsform,
.skoleliste .skille {
	background:none;
	margin: 0;
	padding: 0;
}

.skoleliste li {
	padding: 3px 0;
	margin-bottom:5px;
	background-color:#CCDDE7;
	display:block;
	text-decoration:none;
	overflow:hidden;
}

.skoleliste a {
	float:left;
	color:#404040;
	width:88%;
	margin-left: 5px;
}

.skoleliste li.selected a {
	font-weight: bold;
}

.relatedItems {
	float:left;
	width:245px;
}

.relatedItemCol {
	margin-right:0 5px 5px;
}

.relatedItemCol img {
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
	padding:5px;
	width:140px;
	margin-bottom:10px;
}


