/* ==|== Map styles =====================================================
    Author: James Borillo
   	Company: Lex Norsk Samfunnsinformasjon as
   	Department: IT
   	========================================================================== */

.google_map_container { /* Use this as a container for every single map, don't put multiple maps inside this container */
	overflow:hidden;
}

.map_canvas_button {
	background: url(../img/maps_icon.png) no-repeat scroll right 0 transparent;
	padding: 2px 25px 2px 0px;
	display: none;
}

.map_canvas_panorama {
	width:500px;
	height:350px;
	border:2px solid #888;
	float:right;
}

.map_canvas_big {
	float:right;
	width:450px;
	height:450px;
	border:2px solid #888;
}

.map_canvas_medium {
	width:300px;
	height:300px;
	border:2px solid #888;
}

.map_canvas_small {
	width:195px;
	height:195px;
	border:2px solid #888;
}

.google_map_container li a {
	padding:3px;
	background:#F5B800;
	display:block;
	margin-bottom:5px;
	color:#888;
	width:45%;
}

#map_sidebar {
	float:left;
	width:240px;
	height:450px;
	overflow-y:scroll!important;
	border:1px solid #AAA;
	padding:3px;
	line-height:1.3em;
}
#map_sidebar ul{
	list-style:none;
	margin:0;
}

#map_sidebar li{
	margin-bottom:.5em;
}

#map_sidebar::-webkit-scrollbar {
	width:3%;
	height:3%;
}

#map_sidebar::-webkit-scrollbar-thumb {
	background-color: #CCDDE7;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

#map_sidebar::-webkit-scrollbar-track {
	background:#FFF;
	border:1px solid #BBB;
}

#map_sidebar h4 {
	font-size:1.2em;
	line-height:1.8em;
}

.map_enlarge .map_canvas_button {
	background:none;
	padding-left:0;
}

.map_enlarge a, .map_in_google a {
	line-height:normal;
	height:auto;
}


