/* ==|== media queries ======================================================
	Author: James Borillo
   	Company: Lex Norsk Samfunnsinformasjon as
   	Department: IT
   	PLACEHOLDER Media Queries for Responsive Design.
   	These override the primary ('mobile first') styles
   	Modify as content requires.
   ========================================================================== */

/* --------------------------------------------
   < 1024px viewport
-------------------------------------------- */	
@media (max-width: 1024px) {
	body {
		overflow-x:auto;
	}
	
	#container .two_students {
		display:none;
	}
}

/* --------------------------------------------
  iPad in landscape down to iPhone portrait
-------------------------------------------- */
/* 	
	TO PREVIEW ON THE DESKTOP, REPLACE THE QUERY WITH THE FOLLOW:
	@media (max-width: 1024px) {  } 
*/
@media (max-width: 1024px)  {
	
	#wrapper, .wrapper_3_5, .wrapper_4, .wrapper_4_5, .wrapper_5, .wrapper_5_5, .wrapper_6, .wrapper_6_5, .wrapper_7 {
		width:1024px!important;
	}
	
	#search_field {
		width: 135px;
	}
	
	#content_100 {
		width:725px!important;
	}
	
	.tegnforklaringer {
		width: 90%!important;
		padding: 1%;
		position: absolute;
		bottom: 0;
		height:80px;
		margin-bottom:10px;
	}
	
	.colYrs {
		display:none;
	}
	
	.kursGraf{
		background: none;
		position: relative;
		margin-bottom: 100px;
		padding-top:10px;
	}
	
	.kursGrafHeader {
		height:auto;
	}
	
	.kursKolonne {
		width:95%!important;
		padding:1%;
		position:relative;
		border:5px solid #EEEEEE;
		margin-bottom:20px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	
	.kursKolonne:after {
		content: '';
		position: absolute;
		left: 3%;
		bottom: -20px;
		border-style: solid;
		border-width: 20px 20px 0 20px;
		border-color: #EEEEEE transparent transparent transparent;
	}
	
	.kursKolonne:last-child:after {
		border:0;
	}
	
	.kursGraf li{
		width:100%!important;
	}
	
	.kursList li.selected::after{
		border:none;
	}
	
	.kursList li.selected a {
		margin: 1% -1%;
	}
	
}


/* -------------------------------------------------------
  iPad in portrait down to iPhone landscape and portrait
-------------------------------------------------------- */
/* 	
	TO PREVIEW ON THE DESKTOP, REPLACE THE QUERY WITH THE FOLLOW:
	@media (max-width: 768px) {  } 
*/
@media (max-width: 768px)  {
	
	body {
		font-size:11px;
	}
	#header .header_content {
		width:100%!important;
		padding:0;
		height:100px;
	}
	
	#header .brand, #header_nav {
		float:left;
		margin:0 auto;
		text-align:center;
		height: 40px;
                width:50%;
	}
	
	#header_nav a {
		font-size:.8em;
	}
	
	#logo {
		width:48%;
		padding:0;
		margin:0;
		text-align:right;
		padding-right:2%;
	}
	#logo img{
		width:10em;
	}
	#description{
		width:38%;
		padding:0;
		margin:0;
		text-align:left;
		max-width: 150px;
	}
	#description h2 {
		line-height: 100%;
		text-align: left;
		padding-left:2%;
		font-size:.9em;
		margin-top:2%;
	}
			
	#wrapper, .wrapper_3_5, .wrapper_4, .wrapper_4_5, .wrapper_5, .wrapper_5_5, .wrapper_6, .wrapper_6_5, .wrapper_7 {
		width:100%!important;
		padding-top:0;
	}
		
	#container {
		margin:0;
		width:100%;
		border-top:1px solid #AAA;
	}
	
	#horizontal_elements {
		position: static;
	}
	#container_search {
		float: right;
		text-align: right;
		margin: 0 auto;
		width: 50%;
		background: none;
		-webkit-box-shadow: none;
	}
	
	#search_field {
		width: 70%;
		border: 1px solid #BBB!important;
	}
	
	#dropdown_navs {
		width:100%;
		margin: 0;
		height:inherit;
	}
	
	.dropdown_box {
		width:49%;
		height:inherit;
		min-height:50px;
	}
	
	.ribbon_black, .ribbon_white, .ribbon_gray, .ribbon_red {
		position:static;
	}
	.ribbon_black:before, .ribbon_white:before, .ribbon_gray:before, .ribbon_red:before {
		border-right-color: transparent;
	}
	.ribbon_top_pos::before {
		content: none;
		border-width: 0;
	}
	.fancy_menu ul {
		width:100%;
	}
	#skole_nav .fancy_menu_parent {
		width: 283px;
	}
	
	#prog_nav ul {
		width: 100%;
	}
	
	#prog_nav .fancy_menu_parent {
		width: 78%;
	}
	
	.fylke_logo {
		background-size:735px 40px;
		width: 35px;
		height: 40px;
		margin:5px 2px;
		position: absolute;
		top: -10px;
		left: 0px;
	}
	#fylke_nav, #skole_nav {
		margin: 0;
		width:100%;
		float:none;
	}
	#fylke_nav .fancy_menu_parent, #skole_nav .fancy_menu_parent {
		width: 98%;
		padding: 0;
		margin: 5px auto;
	}
	#fylke_logo_1 {background-position: 0px 0px}
	#fylke_logo_2 {background-position: -35px 0px}
	#fylke_logo_3 {background-position: -70px 0px}
	#fylke_logo_4 {background-position: -105px 0px}
	#fylke_logo_5 {background-position: -140px 0px}
	#fylke_logo_6 {background-position: -175px 0px}
	#fylke_logo_7 {background-position: -210px 0px}
	#fylke_logo_8 {background-position: -245px 0px}
	#fylke_logo_9 {background-position: -280px 0px}
	#fylke_logo_10 {background-position: -315px 0px}
	#fylke_logo_11 {background-position: -350px 0px}
	#fylke_logo_12 {background-position: -385px 0px}
	#fylke_logo_13, #fylke_logo_0 {background-position: -420px 0px}
	#fylke_logo_14 {background-position: -455px 0px}
	#fylke_logo_15 {background-position: -490px 0px}
	#fylke_logo_16 {background-position: -525px 0px}
	#fylke_logo_17 {background-position: -560px 0px}
	#fylke_logo_18 {background-position: -595px 0px}
	#fylke_logo_19 {background-position: -630px 0px}
	#fylke_logo_20 {background-position: -665px 0px}
	
	#fylke_nav .velgInfo, #fylke_nav .valgtInfo, #skole_nav .velgInfo, #skole_nav .valgtInfo {
		padding:0;
	}
	
	#fylke_nav .velgInfo a, #fylke_nav .valgtInfo a, #skole_nav .velgInfo a, #skole_nav .valgtInfo a {
		font-size: .8em;
	}
	#fylke_nav .valgtInfo a, #skole_nav .valgtInfo a {
		margin:0;
	}
	
	#vertical_nav {
		padding:0 10px 0 0;
		position:absolute;
		top:0px;
		left:-60%;
		z-index:1000;
		background:#EEE;
		-webkit-box-shadow: 2px 2px 3px #888888;
		-moz-box-shadow: 2px 2px 3px #888888;
		-o-box-shadow: 2px 2px 3px #888888;
		box-shadow: 2px 2px 3px #888888;
		width:40%;
	}
	
	#vertical_nav a{
		padding:.2em;
	}
	
	#vertical_nav .menu {
		float:left;
		display:inline;
		width:100%;
		margin:3px;
	}
	
	#vertical_nav .menu_container .menu_content {
		padding: 1%;
		min-height:0;
	}
	
	#vertical_nav .active_1 {
		padding:0;
	}
	
	#vertical_nav .active_1.connect_content {
		border-right:0;
		width:100%;
		padding:0;
	}
	#vertical_nav .nav_parent_active {
		margin:0;
	}
	#vertical_nav .active_2 > a, #vertical_nav .active_3 > a, #vertical_nav .active_4 > a, #vertical_nav .active_5 > a {
		margin-left: 0;
		padding-left:0;
	}
		
	#vertical_nav .menu:nth-child(5) {
		clear:both;
	}
	
	.showVertMenu {
		display:block;
		padding:2px 5px;
		color: #4D5A70 !important;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		font-weight:bold;
		position:absolute;
		left:1%;
		top:58px;
		background:#DDD;
		-webkit-box-shadow: 0 0 0 #F0F0F0 inset, 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #AAA inset;
		box-shadow: 0 0 0 #F0F0F0 inset, 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #AAA inset;
		border-radius: 20px 20px 20px 20px;
		z-index:2000;
	}
		
	#content_sidebar_holder {
		float: none;
		width: 100%;
		min-width:10%;
	}
	#content_100, #content_75 {
		width:96%!important;
		padding:2%;
		min-width:0;
		margin:0;
		float:left;
	}
	#content_75 {
		margin:0;
	}
	
	.prog_nav {
		min-width: 50%;
	}
	
	.prog_nav li.active a {
		width:90%;
	}
	
	#sidebar {
		width: 100%;
		margin:0;
		margin-top:5px;
	}
	
	#primary_sidebar, #secondary_sidebar {
		width:50%;
		float:left;
	}
	
	#secondary_sidebar {
		padding:0;
	}
	
	#secondary_sidebar .languages, #secondary_sidebar .priv_skoler, #secondary_sidebar .horsels {
		position:static;
		display:inline;
		margin:20px;
	}
	
	#secondary_sidebar .priv_skoler{

	}
	
	#secondary_sidebar .horsels{

	}

	.helpNav, .footer_info {
		width:98%;
		padding:1%;
	}
	
	.map_canvas_big {
		width:55%;
	}
	.map_external_links {
		width:40%;
	}
	
	.toggleSide .artikkeltekst {
		width:100%;
	}
	.toggleSide .skoleDetaljer, .toggleSide .skoleMedia {
		width: 100%;
	}
	.artikkelSisteSpalte {
		width: 100%;
	}
	
	.content_spacer {
		height:0;
	}
	
}



/* --------------------------------------------
  Mobile
-------------------------------------------- */
@media (max-width: 600px) {
	
	#description h2 {
		line-height: 100%;
		text-align: left;
		padding-left:2%;
		font-size:.8em;
		margin:0;
	}
	
	#vertical_nav {
		width:50%
	}
		
	.prog_nav {
		width: 100%;
	}
	
	.prog_content_full, .prog_media {
		width:100%;
		padding:0;
	}
	
	.prog_media_video {
		margin-top:0;
	}
	
	.oppleringstilbud .oppleringstilbudNiva {
		width:98%;
	}
	
	.toggleSide .fylkekartBilde {
		display:none;
	}
		
}
