/* ==|== oppleringstilbud styles =====================================================
   Author: James Borillo
   Company: Lex Norsk Samfunnsinformasjon as
   Department: IT
   ========================================================================== */
   
.oppleringstilbud {
	margin-top:20px;
}

.oppleringstilbud .oppleringstilbudRetning {
	overflow:hidden;
	border-bottom: 1px dashed #BBB;
	margin-top: 7px;
}

.oppleringstilbud .oppleringstilbudRetning:last-of-type {
	border:none;
}
   
.oppleringstilbud .oppleringstilbudNiva {
	width:220px;
	padding: 3px 0px;
	margin: 5px 10px;
}

.oppleringstilbud .oppleringstilbudNiva li {
	background-color:#FDB913;
	display:block;
	margin-bottom:5px;
	padding:5px 0;
	overflow:hidden;
}
.oppleringstilbud .oppleringstilbudNiva li.bedrift {
	background-color: #8AC75A;	
}

.oppleringstilbud .oppleringstilbudNiva li a{
	color: #404040;
	float:left;
	margin-left:5px;
	width:88%;
	text-decoration:none;
}

.oppleringstilbud .oppleringstilbudNiva h3 {
	font-size:1.7em;
}

.oppleringstilbudRetning h4{
	font-size:1.2em;
	margin: 10px 0 0;
}

/*********** Bedrifter og opplæringskontor ************/
.oppleringstilbudBedrift .oppleringstilbudNiva li {
	margin-bottom: 0px;	
}

.oppleringstilbudBedrift ul.skoleliste {
	margin-top: 0px;
	margin-bottom: 10px;
}

.oppleringstilbudBedrift ul.skoleliste .selectable,
.oppleringstilbudBedrift ul.skoleliste .skille {
	margin: 0px;
}




