body, input, textarea {
	font-family: sans-serif;
	font-size: 11px;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}

.row {
	border-bottom: solid 2px #cacaca;
	padding-bottom: 12px;
	margin-bottom: 12px;
}

.fieldContainer {
	width: 586px;
	/*margin-right: 12px;*/
	margin-bottom: 6px;
}

.fieldContainer .text, fieldContainer textarea {
	
}

#wrapper {
	width: 1340px;
}

.publisering #content_100 {
	width: 1224px;
}

h1 {}
h2 {
	margin-bottom: 6px;
}
h3 {
	margin-top: 2px;
	margin-bottom: 2px;
}
h2 a {
	font-size: 12px;
}

input:disabled,
textarea:disabled,
.readonly {
	color: #545454;
}

input.arabisk,
textarea.arabisk,
input.farsi,
textarea.farsi,
input.urdu,
textarea.urdu,
input.sorani,
textarea.sorani {
	direction: rtl;
}


/* Skjule unna unødige felt */
.Sammendrag .Spalte_1,
.Sammendrag .Forord,
.Sammendrag_bok .Spalte_1,
.Sammendrag_bok .Forord,
.Bok .Innledning,
.Bok .Forklaring,
.Bok .Spalte_1,
.Bok .Header_1,
.Bok .Header_2,
.Bok .Header_3,
.Bok .Boks_1_kolonne_1,
.Bok .Boks_1_kolonne_2,
.Bok .Boks_1_kolonne_3,
.Bok .Boks_2_kolonne_1,
.Bok .Boks_2_kolonne_2,
.Bok .Boks_2_kolonne_3,
.Bok .Boks_3_kolonne_1,
.Bok .Boks_3_kolonne_2,
.Bok .Boks_3_kolonne_3,
.Avsnitt .Innledning,
.Avsnitt .Forord,
.Avsnitt .Forklaring,
.Avsnitt .Header_1,
.Avsnitt .Header_2,
.Avsnitt .Header_3,
.Avsnitt .Boks_1_kolonne_1,
.Avsnitt .Boks_1_kolonne_2,
.Avsnitt .Boks_1_kolonne_3,
.Avsnitt .Boks_2_kolonne_1,
.Avsnitt .Boks_2_kolonne_2,
.Avsnitt .Boks_2_kolonne_3,
.Avsnitt .Boks_3_kolonne_1,
.Avsnitt .Boks_3_kolonne_2,
.Avsnitt .Boks_3_kolonne_3,
.Ordforklaring .Innledning,
.Ordforklaring .Spalte_1,
.Ordforklaring .Header_1,
.Ordforklaring .Header_2,
.Ordforklaring .Header_3,
.Ordforklaring .Boks_1_kolonne_1,
.Ordforklaring .Boks_1_kolonne_2,
.Ordforklaring .Boks_1_kolonne_3,
.Ordforklaring .Boks_2_kolonne_1,
.Ordforklaring .Boks_2_kolonne_2,
.Ordforklaring .Boks_2_kolonne_3,
.Ordforklaring .Boks_3_kolonne_1,
.Ordforklaring .Boks_3_kolonne_2,
.Ordforklaring .Boks_3_kolonne_3 {
	display: none;
}