/* ==|== Patch styles =====================================================
   Author: James Borillo
   Company: Lex Norsk Samfunnsinformasjon as
   Department: IT Department
	Description: This can be used to override defaults
   ========================================================================== */

/** toggle for WS_Adresser_Detaljert **/

.WS_Adresser_Detaljert .fylkekartBilde {
	margin: 0;
}

.WS_Adresser_Detaljert .toggleContainer {
	border:0;
}

.WS_Adresser_Detaljert .toggleTitle {
	max-width: 100%;
	margin:1% 0;
}

.WS_Adresser_Detaljert .toggleTitle h3 {
	margin-top: 0;
	font-size:1em;
}

.WS_Adresser_Detaljert .toggleCollapsed .toggleTitle::before {
	border-width:6px;
}

.WS_Adresser_Detaljert .toggleContainer .toggleTitle::before {
	border-width: 6px;
}


/**** kursGraf (to make it work for opplæringstilbuds Sluttkompetanseveier) *****/
.sluttkompetanseveier .kursKolonne{
	display:block;
	width:auto;
}

.sluttkompetanseveier li {
	float:left;
	margin: 5px 10px;
}

.sluttkompetanseveier li:not(:first-child):before {
	content: '';
	width: 20px;
	height: 2px;
	background: red;
	position: absolute !important;
	margin-left: -20px;
	margin-top: 8px;
	left:0;
}

.sluttkompetanseveier .yrs0_5 {width:110px;display:block;}
.sluttkompetanseveier .yrs1 {width:220px;;display:block;}
.sluttkompetanseveier .yrs1_5 {width:350px;;display:block;}
.sluttkompetanseveier .yrs2 {width:460px;;display:block;}
.sluttkompetanseveier .yrs2_5 {width:590px;;display:block;}
.sluttkompetanseveier .yrs3 {width:690px;;display:block;}
.sluttkompetanseveier .yrs3_5 {width:830px;;display:block;}
.sluttkompetanseveier .yrs4 {width:940px;;display:block;}

/*
.oppleringstilbud .yrs0_5 {width:110px;display:block;}
.oppleringstilbud .yrs1 {width:220px;;display:block;}
.oppleringstilbud .yrs1_5 {width:350px;;display:block;}
.oppleringstilbud .yrs2 {width:460px;;display:block;}
.oppleringstilbud .yrs2_5 {width:590px;;display:block;}
.oppleringstilbud .yrs3 {width:690px;;display:block;}
.oppleringstilbud .yrs3_5 {width:830px;;display:block;}
.oppleringstilbud .yrs4 {width:940px;;display:block;}
*/

/**** RelatedLinks (for skoleInformasjon)*******/
.andreOpplysninger {
	width: 180px;
	float:right;
}
.andreOpplysninger p{
	margin:0;
}
.andreOpplysninger ul{
	margin:0 1.5em .5em !important;
}
.andreOpplysninger li{
	list-style-type:disc;
}
.andreOpplysninger h3{
	margin:.3em 0;
}

.ordforklaring {
	border-bottom: dotted 2px #BBB;
}

/*** prog_media_img -> artikkel_img ****/
.artikkel_img {
	padding-bottom:35px;
}
.artikkel_img img {
	height:auto;
}

/*** om_prog_side  ***/
.om_prog_side .toggleSide h1 {
	width:330px;
}

/** prog_media_img -> artikkel_img -> intervju_img **/
.intervju_img {
	margin: 0 10px 10px;
	float:right;
}

.om_prog_side .intervju_img_toptext {
	float: right;
	width: 138px;
}

.om_prog_side .intervju_img {
	width:auto;
	padding-right:5px;
	margin-right:3px;
}

.om_prog_side .intervju_img img {
	width:130px;
}

.oppslagGruppe {
	margin-top: 10px;
}

/*  fancybox overrides */
#fancybox-overlay {
	background:#666;
}

/** Override prog-ms.css **/
.kursOpplysninger h1 {
	margin: 30px 0 5px 0;
}
.kursOpplysninger ul.timefordeling li.timeType {
	margin-top:15px;
}
.kursOpplysninger li.fotnoterHeader {
	margin-top:25px;
}

.kursOpplysninger li.fotnoterHeader .merknad_valgt_img {
	background: url(../img/spriteme/sprite.png) no-repeat -858px -164px;
	width: 16px;
	height: 15px;
}

.fotnoterHeader img {
	margin-top:-5px;
}

/* Interessetest */
.interessetest_v2 div.interessetestTekst #Artikkel ul {
	margin-bottom: 1em;
}

.interessetest_v2 #toppMeny ul li {
	list-style: none;
}

/* Google map */
.map_enlarge {
	margin-top:.5em;
}