/* ==|== primary styles =====================================================
	Author: James Borillo
   	Company: Lex Norsk Samfunnsinformasjon as
   	Department: IT Department
   	========================================================================== */
h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15 {
	margin:0;
	font-weight:normal;
}

h1, h2 {
	font-size:1.7em;
	line-height: 1.3em;
}

p {
	margin:.5em 0 1em;
}

a, a:active, a:visited, a:hover {
	color: #0088CC;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a.vedlegg, a[href$=".doc"], a[href$=".docx"], 
a[href$=".xls"], a[href$=".xlsx"], 
a[href$=".ppt"], a[href$=".pptx"],
a[href$=".pdf"] {
	padding-left: 18px;
	background: url(../img/attach_icon_other.png) no-repeat;
}

a[href$=".doc"], a[href$=".docx"] {
	background: url(../img/attach_icon_word.png) no-repeat;
}

a[href$=".xls"], a[href$=".xlsx"] {
	background: url(../img/attach_icon_excel.png) no-repeat;
}

a[href$=".ppt"], a[href$=".pptx"] {
	background: url(../img/attach_icon_ppt.png) no-repeat;
}

a[href$=".pdf"] {
	background: url(../img/attach_icon_pdf.png) no-repeat;
}


ul, ol {
	list-style-type: disc;
	margin: 0 0 1em 1.5em;
	padding:0;
}

.rightAlignedText ul, .rightAlignedText ol {
	margin: 0 1.5em 1em 0;
}

ul ul, ul ol, ol ol, ol ul {
	margin-bottom:0;
	list-style-type: circle;
}

ol {
	list-style-type: decimal;
}

ul.vedlegg_liste {
	margin:0!important;
	list-style-type:none !important;
}



/* ul resets */
.prog_nav ul, #vertical_nav ul, ul.tegnforklaringer, .kursGraf ul, .sluttkompetanseveier ul, .oppleringstilbudRetning ul, ul.yrkerAlfabet, ul.yrkerAlfabetisk, ul.yrkerFagrupper, ul.yrkerFagruppe, ul.yrkerFagruppe ul, ul.yrker, .helpNav ul, ul#oppslag  {
	list-style-type:none;
	margin:0;
}

body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	background-image: url(../img/dot_blue.png);
	background-repeat:repeat;
	background-color: #a4d7eb;
	background-position:100% 90%;
	line-height:1.5em;
}

body.green {
	background-image: url(../img/dot_green.png);
	background-color: #d6e9bf;
}

body.yrker .artikkel_img {
	margin-top: 20px;
}

/******* H5BP Overrides *********/
::-moz-selection { background: #b3d4fc; text-shadow: none; color: #000;}
::selection { background: #b3d4fc; text-shadow: none; color: #000;}

/******* OO CSS*******/

.clear {
	clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.float_right {
	float:right!important;
}

.float_left {
	float:left;
}

.grid {
	display: inline;
    float: left;
}

.padding {
	padding:10px;
}

.full-width {
	width:100%;
}

.box-shadow {
	-webkit-box-shadow: 0px 2px 3px #888888;
	-moz-box-shadow: 0px 2px 3px #888888;
	-o-box-shadow: 0px 2px 3px #888888;
	box-shadow: 0px 2px 3px #888888;
}

.border-radius {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px;	
}

.melding, .advarsel {
	font-weight: bold;
	color: #323232;
	border: solid 1px #DDD;
	margin:5px 0;
	padding: 5px 5px 5px 25px;
	background:url(../img/info-icon.png) no-repeat 5px 5px #E3FEEB;
	-moz-border-radius: 4px 4px 4px 4px; /* Gecko - Firefox */
  	-o-border-radius: 4px 4px 4px 4px; /* Opera */
  	-webkit-border-radius: 4px 4px 4px 4px; /* Webkit - Chrome */
	border-radius: 4px 4px 4px 4px; /* CSS 3 */
}

.advarsel {
	background:url(../img/alert-icon.png) no-repeat 5px 5px #FFEFEE;
}

.kursgraf_info, .velgGruppe {
	color: #ED1C24;
	background: url(../img/arrow_down_red_s.png) no-repeat 0% 50% transparent;
	width: 140px;
	padding: 5px 5px 5px 15px!important;
}

.my_overlay{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: block;
	background-color:#DDD;
	opacity:0.3;
	z-index: 1001;
}

.addthis_toolbox {
	position:absolute;
	top:0;
	left:600px;
	margin:20px 15px;
	width:150px;
}

/***** End of OO CSS *****/

.ribbon_black, .ribbon_gray, .ribbon_red, .ribbon_green, .ribbon_yellow {
	position:relative
}
.ribbon_black:before, .ribbon_gray:before, .ribbon_red:before, .ribbon_green:before, .ribbon_yellow:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-color: transparent;
	bottom: -6px;
	border-width: 0 6px 6px 0;
	left: 0px;
}

.ribbon_black:before {border-right-color: #444444;}
.ribbon_gray:before {border-right-color: #888888;}
.ribbon_red:before {border-right-color: #990000;}
.ribbon_green:before {border-right-color: #294200;}
.ribbon_yellow:before {border-right-color: #AD7100;}

.ribbon_top_pos:before {
	top:0px;
	left:-6px;
	border-width: 6px 6px 0 0;
	height:1px;
}

/******* Sprites **************/

.flag_nb, .flag_nn, .flag_se, .flag_en  {
	padding-left:20px;
	background: url(../img/spriteme/sprite.png) no-repeat;
	width:16px;
}
.flag_nb, .flag_nn {background-position: -38px -10px;}
.flag_se {background-position: -66px -10px;}
.flag_en {background-position: -10px -10px;}

.prog_small_icon {
	background: url(../img/spriteme/sprite.png) no-repeat;
	width:25px;
	height:21px;
	float:left;
}
.prog_small_ID { background-position: -216px -10px; }
.prog_small_MD { background-position: -278px -10px; }
.prog_small_ST { background-position: -402px -10px; }
.prog_small_BA { background-position: -92px -10px; }
.prog_small_DH { background-position: -123px -10px; }
.prog_small_EL { background-position: -154px -10px; }
.prog_small_HS { background-position: -185px -10px; }
.prog_small_MK { background-position: -247px -10px; }
.prog_small_NA { background-position: -309px -10px; }
.prog_small_RM { background-position: -340px -10px; }
.prog_small_SS { background-position: -371px -10px; }
.prog_small_TP { background-position: -433px -10px; }
.prog_small_AO { background-position: -1295px -10px; }

.prog_big_icon {
	background: url(../img/spriteme/sprite.png) no-repeat;
	width:38px;
	height:31px;
	position:absolute;
	left:0;
}
.prog_big_BA{ background-position: -464px -10px; }
.prog_big_DH{ background-position: -505px -10px; }
.prog_big_EL{ background-position: -546px -10px; }
.prog_big_HS{ background-position: -587px -10px; }
.prog_big_ID{ background-position: -628px -10px; }
.prog_big_MK{ background-position: -669px -10px; }
.prog_big_MD{ background-position: -710px -10px; }
.prog_big_NA{ background-position: -751px -10px;}
.prog_big_RM{ background-position: -792px -10px;}
.prog_big_SS{ background-position: -833px -10px;}
.prog_big_ST{ background-position: -874px -10px;}
.prog_big_TP{ background-position: -915px -10px;}
.prog_big_AO{ background-position: -1334px -10px };
.prog_big_{background:#AAA;}
.social_icon {
	background: url(../img/spriteme/sprite.png) no-repeat;
	width:22px;
	height:22px;
	float:left;
}
.social_icon_facebook {background-position: -956px -10px;}
.social_icon_mail {background-position: -988px -10px;}
.social_icon_print {background-position: -1020px -10px;}
.social_icon_bookmark {background-position: -1052px -10px;}
.social_icon_twitter{background-position: -1084px -10px;}

/********* EO Sprites *************/

#header, .footer {
	display:block;
}

#header {
	background: #FFFFFF;
	width:100%;
}

.header_content {
	width:980px;
	height:100px;
	padding:10px 0;
	margin:0 auto;
	background: #FFFFFF;
}

#header .brand {
	overflow: hidden;
	width: 520px;
	display: inline;
	float: left;
	margin-top: 25px;
}

#logo {
	height: 47px;
	width: 179px;
	margin: 0 0 0 25px;
	border-right: 1px dashed #AAA;
}

#logo a {
	display:block;
	height:47px;
	width:132px;
	background:url(../img/spriteme/sprite.png) no-repeat;
	background-position:-1117px -10px;
	text-indent:-9999px;
}

#description {
	width:220px;
	margin:0 45px;
}

#description h2{
	font-size:12px;
	font-weight: normal;
	margin-top: 5px;
}

#header_nav {
	float:right;
	width: 375px;
	text-align:right;
}

#header_nav ul {
	list-style-type:none;
	margin:0;
	width:100%;
	margin-bottom:5px;
}

#header_nav ul li {
	display:inline;
}

#header_nav a {
	font-size:11px;
	text-decoration: none;
	color: #404040;
	margin-right:5px;
}

#header_nav a.valgt {
	color:#D4353B;
}
#header_nav .vigo {
	margin:0;
}

.skip-link {
	position:absolute;
	left:-9999px;
}

#wrapper {
	width: 1024px;
	padding-top: 25px;
	margin:auto;
}

.wrapper_4 {width:1259px!important;}
.wrapper_5 {width:1499px!important;}
.wrapper_6 {width:1739px!important;}
.wrapper_7 {width:1989px!important;}

/*.wrapper_3_5 {width:1142px!important;}
.wrapper_4_5 {width:1382px!important;}
.wrapper_5_5 {width:1622px!important;}
.wrapper_6_5 {width:1862px!important;}
*/

#container {	
	margin:0 22px;
	background:#EEEEEE;
	clear:both;
	min-height:750px;
	position:relative;
}

#container .random_students {
	opacity:0;
	height: 980px;
	width: 550px;
	position: fixed;							
}
	
/*********** Horizontal Elemenets ***************/
#container_search {
	float:left;
	width:174px;
	margin:18px 15px 10px 10px;
	background: #FFFFFF;
	padding: 0 3px;
	-webkit-box-shadow: 0 0 0 #F0F0F0 inset, 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #FFFFFF inset;
	-moz-box-shadow: 0 0 0 #F0F0F0 inset, 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #FFFFFF inset;
	-o-box-shadow: 0 0 0 #F0F0F0 inset, 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #FFFFFF inset;
	box-shadow: 0 0 0 #F0F0F0 inset, 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #FFFFFF inset;
	line-height:30px;
}

#search input {
	border:0;
}
#search input:focus{
    outline: none;
}

#search_field {
	width:145px;
}

#search_button {
	width:21px;
	position:relative;
	top:6px;
}

#dropdown_navs {
	width:765px;
	height:80px;
	max-height:90px;
	margin:-7px 10px 12px 0;
}

.dropdown_box {
	float:left;
	background: #666666;
	height:80px;
	width: 375px;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
}

.dropdown_box_active {
	background: #FFFFFF;
	height: 91px;
	border-bottom: 1px dashed #BBBBBB;
	-webkit-box-shadow: 2px 0px 3px #888888;
	-moz-box-shadow: 2px 0px 3px #888888;
	-o-box-shadow: 2px 0px 3px #888888;
	box-shadow: 2px 0px 3px #888888;
}

.fylke_logo, .fylke_logo_artikkel {
	/*background: url('../img/kommune/Fylkesvapen.png') no-repeat;*/
	background: url(../img/spriteme/sprite.png) no-repeat;
	float:left;
	width: 70px;
	height: 80px;
}
#fylke_logo_1, #fylkesartikkel_Logo_1 {background-position: -10px -61px}
#fylke_logo_2, #fylkesartikkel_Logo_2 {background-position: -80px -61px}
#fylke_logo_3, #fylkesartikkel_Logo_3 {background-position: -150px -61px}
#fylke_logo_4, #fylkesartikkel_Logo_4 {background-position: -220px -61px}
#fylke_logo_5, #fylkesartikkel_Logo_5 {background-position: -290px -61px}
#fylke_logo_6, #fylkesartikkel_Logo_6 {background-position: -360px -61px}
#fylke_logo_7, #fylkesartikkel_Logo_7 {background-position: -430px -61px}
#fylke_logo_8, #fylkesartikkel_Logo_8 {background-position: -500px -61px}
#fylke_logo_9, #fylkesartikkel_Logo_9 {background-position: -570px -61px}
#fylke_logo_10, #fylkesartikkel_Logo_10 {background-position: -640px -61px}
#fylke_logo_11, #fylkesartikkel_Logo_11 {background-position: -710px -61px}
#fylke_logo_12, #fylkesartikkel_Logo_12  {background-position: -780px -61px}
#fylke_logo_13, #fylke_logo_0,#fylke_logo_21, #fylke_logo_50, #fylke_logo_60, #fylkesartikkel_Logo_13, #fylkesartikkel_Logo_0, #fylkesartikkel_Logo_50, #fylkesartikkel_Logo_60 {background-position: -850px -61px}
#fylke_logo_14, #fylkesartikkel_Logo_14 {background-position: -920px -61px}
#fylke_logo_15, #fylkesartikkel_Logo_15 {background-position: -990px -61px}
#fylke_logo_16, #fylkesartikkel_Logo_16 {background-position: -1060px -61px}
#fylke_logo_17, #fylkesartikkel_Logo_17 {background-position: -1130px -61px}
#fylke_logo_18, #fylkesartikkel_Logo_18 {background-position: -1200px -61px}
#fylke_logo_19, #fylkesartikkel_Logo_19 {background-position: -1270px -61px}
#fylke_logo_20, #fylkesartikkel_Logo_20 {background-position: -1340px -61px}

.fylke_logo_artikkel {
	/**../img/kommune/Fylkesvapen_small_ie.png'**/
	background:url(../img/spriteme/sprite.png) no-repeat;
	width: 30px;
	height: 32px;
}
#fylkesartikkel_Logo_1 {background-position: -113px -167px}
#fylkesartikkel_Logo_2 {background-position: -148px -167px}
#fylkesartikkel_Logo_3 {background-position: -183px -167px}
#fylkesartikkel_Logo_4 {background-position: -220px -167px}
#fylkesartikkel_Logo_5 {background-position: -256px -167px}
#fylkesartikkel_Logo_6 {background-position: -292px -167px}
#fylkesartikkel_Logo_7 {background-position: -328px -167px}
#fylkesartikkel_Logo_8 {background-position: -364px -167px}
#fylkesartikkel_Logo_9 {background-position: -400px -167px}
#fylkesartikkel_Logo_10 {background-position: -436px -167px}
#fylkesartikkel_Logo_11 {background-position: -472px -167px}
#fylkesartikkel_Logo_12 {background-position: -507px -167px}
#fylkesartikkel_Logo_13, #fylkesartikkel_Logo_0, #fylkesartikkel_Logo_21, #fylkesartikkel_Logo_50, #fylkesartikkel_Logo_60 {background-position: -544px -167px}
#fylkesartikkel_Logo_14 {background-position: -579px -167px}
#fylkesartikkel_Logo_15 {background-position: -615px -167px}
#fylkesartikkel_Logo_16 {background-position: -651px -167px}
#fylkesartikkel_Logo_17 {background-position: -686px -167px}
#fylkesartikkel_Logo_18 {background-position: -723px -167px}
#fylkesartikkel_Logo_19 {background-position: -758px -167px}
#fylkesartikkel_Logo_20 {background-position: -793px -167px}

#forsidekart_2008 {
	position: relative;
	width: 38.5em;
	height: 38.5em;
}

#LenkerTilKart {
	position: absolute;
	top: 2em;
	left: .2em;
	width: 15em;
}

#LenkerTilKart h3{
	margin-bottom:1em;
}

#norgeskart {
	position:absolute;
	right:.2em;
	top:2em;
}


/************* Content CSS **************/
#content_sidebar_holder{
	float:right;
	min-width:725px;
}

#content_75 { 
	float:left;
	width:560px;
	margin:0 15px;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
}

#content_100 {
	float:right;
	min-width:725px;
	margin:0 10px 0 15px;
	padding:20px;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
}

#content_75, #content_100 {
	background:#FFFFFF;
	position:relative;
	z-index:1;
	min-height: 300px;
}

.wrapper_4 #content_100 {
	min-width: 960px;
}
.wrapper_5 #content_100 {
	min-width: 1200px;
}
.wrapper_6 #content_100 {
	min-width: 1440px;
}

.prog_content_full h1, .prog_content h1 {
	position:relative;
	padding-left:38px;
	line-height: 1.1em;
}

.prog_content_full h4, .prog_content h4 {
	margin-left:40px;
	font-size:1.2em;
}

.prog_content_full {
	padding-right: 20px;
    width: 350px;
}

.prog_content_full h1{
	margin-bottom:0!important;
}

.prog_media_full {
	width:340px;
}

.fotnoter .star {
	font-size:1.3em;
	margin-bottom: -23px;
}

.fotnoter p {
	margin-left:10px;
}

/*******Specific CSS for the content******/
.fag_content {
	float:right;
	width:360px;
	height:570px;
	position:relative;
}

.fag_content ul {
	list-style: none outside none;
    margin: 0;
}

.prog_nav {
	width:200px;
}

.prog_nav ul {
	border-right: 1px dashed #AAAAAA;
	padding-bottom: 10px;
}

.prog_nav li a {
    display: block;
    font-size: 0.9em;
    padding: 2px 5px;
    min-height:21px;
    clear:both;
    text-decoration: none;
	color: #404040;
}

.prog_nav li.active a {
    margin-left: -16px;
	margin-bottom: 3px;
	color:#000000;
   	padding-left: 21px;
	width: 185px;
    -webkit-box-shadow: 2px 2px 3px #888888;
    -moz-box-shadow: 2px 2px 3px #888888;
    -o-box-shadow: 2px 2px 3px #888888;
    box-shadow: 2px 2px 3px #888888;
}

.rightAlignedText .prog_nav li.active a {
	margin-left: 0px;
	margin-right: 5px;
}

.prog_nav li.type_1 a {
	background: #F5B800;
	background-position: 98% 50%;
}

.prog_nav li.type_2 a {
	background: #94C24C;
	background-position: 98% 50%;
}

.prog_nav li.type_3 a {
	background: #AAA;
	background-position: 98% 50%;
	color: #EEE;
}

.ta_test .circle{
	background:url(../img/spriteme/sprite.png)no-repeat;text-indent: -9999px;
}
.ta_test .circle.nb, .ta_test .circle.nn{background-position: -10px -235px;}
.ta_test .circle.se{background-position: -164px -235px;}
.ta_test .circle.en{background-position: -241px -235px;}
.ta_test .circle.sq{background-position: -318px -235px;}
.ta_test .circle.ar{background-position: -395px -235px;}
.ta_test .circle.fa{background-position: -472px -235px;}
.ta_test .circle.fr{background-position: -549px -235px;}
.ta_test .circle.pl{background-position: -626px -235px;}
.ta_test .circle.ru{background-position: -703px -235px;}
.ta_test .circle.sr{background-position: -780px -235px;}
.ta_test .circle.so{background-position: -857px -235px;}
.ta_test .circle.ckb{background-position: -934px -235px;}
.ta_test .circle.es{background-position: -1011px -235px;}
.ta_test .circle.tr{background-position: -1088px -235px;}
.ta_test .circle.ur{background-position: -1165px -235px;}
.ta_test .circle.vi{background-position: -1242px -235px;}
.ta_test .circle.tl{background-position: -1319px -235px;}
.ta_test .circle.zh{background-position: -1396px -235px;}
.ta_test .circle.lt{background-position: -1473px -235px;}
.ta_test .circle.th{background-position: -1550px -235px;}
.ta_test .circle.de{background-position: -1627px -235px;}



.prog_nav .ta_test, .prog_media .ta_test {
	background: #666666;
	color:#FFFFFF;
	padding:10px 20px;
	overflow:hidden;
	margin-left:-10px;
	margin-bottom: 1.0em;
}

.prog_media .ta_test {
	width: 150px;	
}

.prog_nav .ta_test .circle,  .prog_media .ta_test .circle {
	float:right;
	height:77px;
	width:77px;
}
.prog_nav .ta_test img,  .prog_media .ta_test img {
	width:75px;
}

.prog_content {
	padding:10px;
    width:340px;
    float:right;
}

.prog_media {
	margin:10px 0;
	overflow:hidden;
	width: 340px;
}

.prog_media_img {
	position: relative;
	width:175px;
	margin-bottom:10px;
	padding:10px 2px 35px 4px;
	background:#FFF;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
}

.prog_media_img.first, .prog_media_img.second, .prog_media_img.third{
	position:absolute;
	z-index: 1000;
}
.prog_media_img.first ul, .prog_media_img.second ul, .prog_media_img.third ul{
	margin:0;
}


.prog_media_img li {
	list-style:none;
}

.prog_media_img img, .jcarousel_small img {
	/*width:203px;
	height:203px;*/
	width:172px;
	height:172px;
}

.prog_media .subtext {
	position: absolute;
	bottom: 10px;
}

.jcarousel_small ul {
	margin:0;
}

.btn_container {
	position:absolute;
	bottom:10px;
	width:70%;
	left:15%;
}

.btn_container .btn_nxt {
	float:right;
	width:13px;height:15px;
	/*background:url('/img/image_right_arrow.png')no-repeat;*/
	background:url(../img/spriteme/sprite.png) no-repeat;
	background-position: -10px -196px;
}

.btn_container .btn_prev {
	float:left;
	width:13px;height:15px;
	/*background:url('/img/image_left_arrow.png')no-repeat;*/
	background:url(../img/spriteme/sprite.png) no-repeat;
	background-position: -10px -161px;
}

.prog_media_video {
	max-height: 178px;
 	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 8px;
	margin-bottom: 20px;
}

.prog_media_video::-webkit-scrollbar {
	width:8px;
	height:8px;
}

.prog_media_video::-webkit-scrollbar-track {
	background:#FFF;
	border:1px solid #CCDDE7;
}

.prog_media_video::-webkit-scrollbar-thumb {
	background-color: #CCDDE7;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

/*** .yrkesBilder  ***/
.yrkerSidebar .prog_media_img {
	width:209px;
	padding:10px 0px 35px 6px;
}

.yrkerSidebar .prog_media_img img {
	width:203px;
	height:203px;
}

#first_slider li, #second_slider li, #third_slider li {
	width:175px;
	margin-bottom:10px;
	margin-right:4px;
	padding:10px 3px 40px 6px;
	background:#FFF;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
}

#first_slider{position:absolute;top:10px; left:70px;z-index:1;}
#second_slider{position:absolute;top:240px; left:15px;z-index:2;}
#third_slider{position:absolute;top:192px; left:175px;z-index:3;}

#fadeshow1 {
	z-index:1;
}

.container_video_img {
	position:relative;
	width:140px;
	height:auto;
	margin-bottom: 10px;
}

.prog_media_video .container_video_img:last-of-type {
	margin-bottom: 0;
}

.container_video_img .video_img {
	width:150px;
}

/********** Artikler ************/

.entry_header {
	width: 550px;
}

.entry_header h1 {
	display: inline;
}

.artikkel {
	width:725px;
}

.toggleSide {
	overflow:hidden;
}

.toggleSide h1 {
	margin-bottom:.5em;
	width: 550px;
}

.toggleSide .toggleContainer {
	border-top:1px dashed #BBBBBB;
	overflow:hidden;
}
.toggleSide .toggleContainer:first-child {
	border-top:0;
}

.toggleSide .artikkeltekst {
	float:left;
	width:60%;
}

.artikkeltekst img{
	max-width:100%;
}

.toggleSide .sammendrag {
	width:100%;
}

.toggleSide .sammendrag .spalte {
	float: left;
	width: 36%;
	margin-right: 3%;
}
.toggleSide .sammendrag .spalte_hoyre {
	border-right: 1px dashed #BBBBBB;
	margin-right: 0%;
	padding-right: 3%;
}

.toggleSide .sammendrag .infoboks {
	float: right;
	width: 18%;
	padding: 8px;
	background-color: red;
	color: white;
}

.toggleSide .sammendrag .infoboks h3 {
	color: #fff;
}

.toggleSide .sammendrag .infoboks a{
	color:#000;
	text-decoration:underline;
}

.toggleSide .sammendrag .spalte h3, .toggleSide .sammendrag .infoboks h3 {
	margin-bottom: 6px;
}

.toggleSide .artikkeltekst ul#oppslag { /* Adresselister */
	margin: 1.0em 0 1.5em 0;
}

.toggleSide .artikkeltekst h3 {
	font-size:1.7em;
	color:#666;
	margin-top: .5em;
	line-height: 1.2em;
}

.toggleSide .artikkeltekstInnledning {
}

.toggleSide .artikkeltekstLenker {
	float:right;
	width:25%;
	margin-right: 1%;
}

.toggleSide .toggleTitle {
	padding-left:24px;
	margin: 2% 0;
	cursor:pointer;
	position:relative;
	max-width:100%;
}

.toggleSide .toggleTitle:before { 
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 8px;
	border-color: #555555 transparent transparent transparent;
	top:5px;
	left:0px;
}

.toggleSide .toggleExpanded .toggleTitle:before {
	border-width: 8px;
	border-color: #555555 transparent transparent transparent;
	top: 5px;
	left:0px;
}

.toggleSide .toggleCollapsed .toggleTitle:before { 
	left: 5px;
	top:3px;
	border-color: transparent transparent transparent #555555;
}

/* Sub toggle */
.toggleSide .toggleText .toggleContainer {
	
}

.toggleSide .toggleText .toggleContainer .toggleTitle:before{
	border-width:6px;
}

.toggleSide .fylkekartBilde {
	height: 20px;
	margin: 2.5%;
}

.toggleSide .toggleText {
	overflow:hidden;
	margin-bottom:5px;
}

.toggleSide .toggleExpanded .toggleText {
	/*display:block;*/
}

.toggleSide .adresseTable{
	width:48%;
	margin-right:2%;
}

.toggleSide .adresseTable table{
	width:100%;
}
.toggleSide .adresseTable th {
	text-align:left;
}
.toggleSide .adresseTable td {
	width:6%;
}

.toggleSide .adresseTable td.skoleCell {
	width:88%;
}

.toggleSide .adresseTable .skoleCell a {
	background-color:#CCDDE7;
	display:block;
	padding:3px;
	margin-bottom:5px;
	color:#404040;
	text-decoration:none;
}

.toggleSide .adresseAvdelinger{
	width:100%;
}

.toggleSide .adresseAvdelinger th{
	text-align:left;
	padding:10px 0 5px;
	font-weight: normal;
	font-size: 1.3em;
}

.toggleSide .skoleDetaljer {
	width:42%;
}

.toggleSide .skoleMedia {
	width:56%;
	margin:1%;
	float:right;
	position:relative;
}

.toggleSide .skoleMedia .images{
	margin:0 0 10px 26px;
}

.toggleSide .adresseDetaljert td {
	padding:3px 5px 3px 3px;
}

.toggleSide .adresseDetaljert tr td:first-of-type {
	color:#888;
}

.toggleSide .adresseDetaljert h3 {
	margin:20px 0px 5px 0;
	font-weight:bold;
	font-size:1em;
	color:#000;
}

.toggleSide .adresseListe {
	width:100%;
}

.toggleSide .adresseAnmerkninger {
	margin-top:.5em;
}

.toggleSide .adresseListe span, .adresseListe em{
	color:#888;
	font-style:normal;
}

.toggleSide .fylkesartikkel {
	margin-top:20px;
}

.toggleSide .fylkesartikkel h2{
	margin-top:.5em;
}

.toggleSide .fylkesartikkelHeader {
	overflow:hidden;
	border-top: 1px dashed #BBB;
	margin-top: 25px;
	margin-bottom: .5em;
}

.toggleSide .fylkesartikkelHeader .fylkeskommentarTittel{
	margin-top: 9px; 
	font-size: 1.25em;
}

.toggleSide .fylkesartikkelHeader .fylkeskommentarSubTittel{
	font-size:1em;
}

.fylkeskommentar {
	overflow:hidden;
	border-top: 1px dashed #BBB;
}

.fylkeskommentar .fylke_logo_artikkel {
	margin:0;
}
.fylkeskommentar h2 {
	margin-top:5px;
}
.fylkeskommentar .fylkeListe {
	margin-left:4em !important;
}

.NettstedAdresse a {
	margin-bottom:5px;
}

/********** artikkelSisteSpalte (This is basically the sidebar of an article) *************/
.artikkelSisteSpalte {
	width:250px;
}

/********** Artikler (Kontakt oss) ************/
.artikkeltekst #kontakt_oss input, .artikkeltekst #kontakt_oss textarea {
	border:none;
	-webkit-box-shadow: 0 0 0 #F0F0F0 inset, 2px 2px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #FFFFFF inset;
	-moz-box-shadow: 0 0 0 #F0F0F0 inset, 2px 2px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #FFFFFF inset;
	-o-box-shadow: 0 0 0 #F0F0F0 inset, 2px 2px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #FFFFFF inset;
	box-shadow: 0 0 0 #F0F0F0 inset, 2px 2px 2px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #FFFFFF inset;
	background:#EEEEEE;
	padding:5px;
	width:29em;
}

.artikkeltekst #kontakt_oss textarea {
	height:200px;
}

.artikkeltekst #kontakt_oss #kontakt_oss_submit {
	width:50px;
	margin-top:10px;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
}
/*************************************************/

#sidebar {
	width:170px;
	margin-right:10px;
}

#sidebar a {
	font-size:.9em;
	color:#888;
}

.sidebar_header {
	background: #666666;
	color:#FFFFFF;
	padding:10px;
	min-height: 30px;
}
.sidebar_header h3{
	font-size:1.5em;
	font-weight:lighter;
}

#primary_sidebar {
	background:#FFFFFF;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
}

#primary_sidebar ul, #secondary_sidebar ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#primary_sidebar li {
	padding:5px;
	border-bottom:1px dashed #AAAAAA;
}

#secondary_sidebar {
	padding-top:20px;
}

a.snarvie_bilde {
	width:77px;
	height:77px;
	display:block;
	text-indent:-9999px;
	background: url(../img/spriteme/sprite.png) no-repeat;
}

.languages{
	position:relative;
	top:20px;
	left:10px;
}

.priv_skoler{
	position:relative;
	top:-56px;
	left:90px;
}

.horsels{
	position:relative;
	top:-50px;
	left:50px;
}

.nb .languages.snarvie_bilde {background-position: -10px -328px}
.nb .priv_skoler.snarvie_bilde {background-position: -10px -425px;}
.nb .horsels.snarvie_bilde {background-position: -10px -522px;}

.nn .languages.snarvie_bilde {background-position: -10px -328px}
.nn .priv_skoler.snarvie_bilde {background-position: -111px -425px;}
.nn .horsels.snarvie_bilde {background-position: -109px -522px;}

.se .languages.snarvie_bilde {background-position: -10px -328px}
.se .priv_skoler.snarvie_bilde {background-position: -311px -425px;}
.se .horsels.snarvie_bilde {background-position: -309px -522px;}

.en .languages.snarvie_bilde {background-position: -10px -328px}
.en .priv_skoler.snarvie_bilde {background-position: -210px -425px;}
.en .horsels.snarvie_bilde {background-position: -209px -522px;}

/*#secondary_sidebar a {
	color:#FFFFFF;
}
#secondary_sidebar img{
	width:75px;
}*/

/**** Generic ****/
.relatedLinks {
	background:#EEE;
	margin-bottom:10px;
	padding-bottom: 30px;
	background: -moz-linear-gradient(113deg,#BBB,#EEE 28%);
	background: -webkit-gradient(linear,100% 100%,85% 53%,from(#BBB),to(#EEE));
	background: -o-linear-gradient(113deg,#BBB,#EEE 28%);
	background: linear-gradient(113deg,#BBB,#EEE 28%);
	position:relative;
}

.relatedLinks .header {
	padding:10px;
	background:#666;
}

.relatedLinks .header h4 {
	font-size:1.3em;
	color:#FFF;
}

.relatedLinks .header h5 {
	font-size:1em;
	color:#FFF;
}

.relatedLinks ul {
	margin:10px!important;
}

.relatedLinks li {
	list-style-type:none;
}

.relatedLinks li a{
	color:#404040;
}

.curl, .curl:after {
	-webkit-border-bottom-right-radius: 150px 25px;
	border-bottom-right-radius: 150px 25px;
}
.curl:before {
background: transparent;
bottom: 12px;
-moz-box-shadow: 11px 11px 11px rgba(207,207,207,0.7);
-webkit-box-shadow: 11px 11px 11px rgba(207,207,207,0.7);
-o-box-shadow: 11px 11px 11px rgba(207,207,207,0.7);
box-shadow: 11px 11px 11px rgba(207,207,207,0.7);
content: '';
height: 50%;
position: absolute;
right: 12px;
-moz-transform: rotate(3deg) skew(5deg);
-webkit-transform: rotate(3deg) skew(5deg);
transform: rotate(3deg) skew(5deg);
width: 50%;
z-index: -1;
}
.curl:after{
background: transparent;
bottom: 13px;
-moz-box-shadow: 8px 12px 10px rgba(0,0,0,0.25);
-webkit-box-shadow: 8px 12px 10px rgba(0,0,0,0.25);
-o-box-shadow: 8px 12px 10px rgba(0,0,0,0.25);
box-shadow: 8px 12px 10px rgba(0,0,0,0.25);
content: '';
height: 70%;
opacity: 50%;
position: absolute;
right: 11px;
-moz-transform: rotate(5deg) skew(10deg);
-webkit-transform: rotate(5deg) skew(10deg);
transform: rotate(5deg) skew(10deg);
width: 70%;
z-index: -2;
}

.infoBox {
	background-color:#EEE;
	width:280px;
	padding:10px;
	margin-bottom:20px;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
}

.infoBox table td:nth-child(2){
	max-width:225px;
	word-wrap:break-word;	
}

/****************/

.content_spacer {
	height:50px;
}

.help {
	background-color:#666666;
	width:100%;
	line-height:30px;
}

.helpNav, .footer_info {
	margin: 0 auto;
    width: 980px;
	font-size:.5em;
}

.helpNav ul {
	padding:0;
}
.helpNav li {
	display: inline;
	margin-right: 8px;
}

.helpNav li a {
	color:#FFFFFF;
	font-size: 11px;
	text-decoration: none;
}

.help.helpIsSelected {
	/*background-color:#FFF;*/
}

.help.helpIsSelected a {
	/*color:#888;*/
}

.help .helpSelected a {
	background-color:#ED1C24;
	color:#FFFFFF;
	padding:10px;
	position:relative;
	top:-5px;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
}

.help .helpSelected a:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-color: transparent;
	top: 0px;
	left:-6px;
	border-right-color: #900;
	border-width: 6px 6px 0 0;
	height: 1px;
}

.footer {
	background: #FFFFFF;
	overflow:hidden;
}

.footer_info {
	font-size:10px;
}

.footer_info .adresseOpplysninger span {
	color:#888;
}

.footer_info p {
	padding-right:20px;
}

.text_rotate {
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	display:inline;
	position:absolute;
	right:-45px;
	top: 150px;
	padding:10px;
	background:#DDDDDD;
	border:3px solid #555555;
}

/*** Page specifics ****/

.om_prog_side .prog_media {
	width: 355px;
}

.om_prog_side .prog_media_video {
	margin-top:30px;
	padding-right: 10px;
}

/** Skoleside **/
 
.skoleside .entry_header h1 {
	margin-right: 50px;
}

.skoleside .entry_header .undertittel {
	position: relative; /* Required by Pseudo element */
	display: inline;
	font-size: 12px;
	font-size: .8rem;
	color: #888;
}

.skoleside .entry_header .undertittel:first-letter {
	text-transform: uppercase;
}


