/* ==|== James styles =====================================================
   Author: James Borillo
   Company: Lex Norsk Samfunnsinformasjon as
   Department: IT
   ========================================================================== */
   
ul.yrker li.visAlle, ul.yrker li.stillinger {
	width:153px;
	color:#000;
	padding:3px 3px 3px 20px;
	background-color:#EEE;
	margin:5px 0;
	position:relative;
}
ul.yrker li.stillinger{
	padding:3px;
	width:170px;
}
ul.yrker li.visAlle:before {
	content: '';
	position: absolute;
	border-style: solid;
	left: 8px;
	top:8px;
	border-width: 5px 0 5px 5px;
	border-color: transparent transparent transparent #555;
}
ul.yrker li.visAlle a{
	text-decoration:none;
}

.landslinjertilbud td {
	padding: 0 7px 7px 0;
	line-height:1em;
}
.landslinjertilbud td:nth-child(2) {
	width:100px;
}
.landslinjertilbud h3 {
	margin-top:10px;
	font-weight:bold;
	font-size:1.1em!important;
}

.landslinjertilbud .tilbudstabellKursnivaa {
color: #888;
font-size: 0.8em;
}