 /* ==========================================================================
 	Author: Espen Løkken
   	Company: Lex Norsk Samfunnsinformasjon as
   	Department: IT Dept.
   ========================================================================== */

 /************* OPPSLAG v2 *************/
 #oppslag .oppslagKolonne {
 	float: left;
 	width: 200px;
 }
 
 .oppslagTittel {
 	font-size:14px;
 	font-weight: bold;
 	padding-bottom: 12px;
 }
 
  /********** END OPPSLAG v2 ***********/
  
  
.rightAlignedText {
	direction: rtl;
}
