 /* ==========================================================================
 	Author: Morten Standeren
   	Company: Lex Norsk Samfunnsinformasjon as
   	Department: IT Dept...
   ========================================================================== */
.strong {
	font-weight: bold;
}   
.left {
	float: left;
}
.right {
	float: right;
}
.red {
	color: red;
}
.ltr {
	direction: ltr;
}
.rtl {
	direction: rtl;
}

.artikkeltekst p {
}
   
ul.kompetanseliste .Ledetekst {
	font-weight: bold;
}

ul.kompetanseliste li.kompetansebeskrivelse p {
	margin-top: 2px;
}

ul.kompetanseliste li.kompetansebeskrivelse ul {
	list-style-type: disc;
	padding: 0px;
	padding-left: 14px;
}

.oppslagGruppe {
	font-weight: bold;
}
.oppslagType {

}
.oppslagFylke {

}
.oppslagEmne {

}

/* Fylkeside - velg fylke */
.fylkeSide ul.fylkeListe {
	margin-top: 1.0em;
}



/* Skoleside - graf */
.oppleringstilbudRetning .oppleringstilbudNiva li a span.anmerkninger {
	font-size: 9px;
	position: relative;
	top: -4px;
	left: 0px;
}
.oppleringstilbud h4.anmerkninger {
 	font-size: 1.2em;
	margin: 10px;
 }
 .oppleringstilbud h4.anmerkninger img {
 	position: relative;
	top: -2px;
	left: 0px;
 }
.oppleringstilbud ol.anmerkninger {
	margin-top: 8px;
	margin-left: 10px;
	padding-left: 18px;
}

/* Utdanningsprogram */
.kursretningsbeskrivelse {
	margin-top: 12px;
}
.kursretningsbeskrivelse .fotnoter ul {
	list-style-type: disc;
	padding: 0px;
	padding-left: 14px;
}



/* Yrker - kategori */
ul.yrker {
	width: 540px;
	padding: 2px;
	border-bottom: dashed 2px #CCC;
	margin-top: 20px;
	margin-right: 8px;
}
ul.yrker li.navn, ul.yrker li.visAlle {
	float: left;width: 170px;
	background-color: #EEEEEE;
	margin-bottom: 4px;
	padding: 3px;
}
ul.yrker li.navn {
	background-color: #AAE1FA;
	color: #888;
}
ul.yrker li.velgGruppe {
	background-color: #FFF;
}
ul.yrker li.navn a, ul.yrker li.visAlle a {
	color: #888;
}
ul.yrker li.beskrivelse {
	float: right;width: 340px;
}
ul.yrker li.beskrivelse p {
	margin-top: 0px;
}
ul.yrker li.beskrivelse ul {
	list-style-type: disc;
	padding: 0px;
	padding-left: 14px;
}


/* End Yrker - kategori */


/* Faggruppe (liste) */

.fagliste {
	float:left;
	width: 48%;
	padding: 4px;
}
.fagliste h2 {
	margin-top: 1.2em;
}
.fagliste h2.first {
	margin-top: 0.5em;
}
.fagliste h3 {
	margin-top: 0.5em;
}

/* End Faggruppe (liste) */

/* Fag */

a.dark {
	color: #222222;
}

.toggleSmallArrow .toggleTitle:before {
	border-width: 6px;
}


.text_60 .toggleText {
	width: 60%;
}

.toggleText .dimmed h3 {
	color: #ABABAB;
}

.fag_hovedomrader {
	margin-top: 8px;
}

.fag_hovedomrader h1, h1.asH2 {
	font-size: 1.17em;
	margin-top: 12px;
}

.hovedomradeText p {
	margin-top: 0px;
}

.kursliste .timetype {
	background:none;
	font-weight:bold;
	margin: 10px 0 0 0;
	padding: 0;
}

.kursliste .timetype_11 {
	font-weight: normal;
	font-style: italic;
}

.kursliste li {
	padding: 3px 0;
	margin-bottom:5px;
	background-color:#FDB913;
	display:block;
	text-decoration:none;
	overflow:hidden;
}

.kursliste li.bedrift {
	background-color: #8AC75A;
}

.kursliste a {
	float:left;
	color:#404040;
	width:88%;
	margin-left:2%;
}





/* End Fag */


/* Fag- og timefordeling */
.kursOpplysninger h1 {
	line-height: normal;
}
.kursOpplysninger ul.timefordeling li.timeType, .kursOpplysninger li.fotnoterHeader {
	margin-top: 6px;
	font-size: 14px;
}
.kursOpplysninger ul.timefordeling li.timeType .tekst {
	font-size: 12px;
}
.kursOpplysninger ul.timefordeling .pieColor {
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin-top: 2px;
	margin-right: 4px;
}
.kursOpplysninger ul.timefordeling .typeNavn {
	width: 190px;
}
.kursOpplysninger li.fotnoter p {
	margin-top: 0px;
}

.kursOpplysninger ul.skoleliste li.fotnoter a {
	float: none;
	width: auto;
	color: #0088CC;
	margin-left: auto;
}

.kursOpplysninger ul.skoleliste li.fotnoter ul {
	margin: auto;
}

.kursOpplysninger ul.skoleliste li.fotnoter ul li {
	background-color: #fff;
	padding: 0px;
	margin-bottom: auto;
	overflow: visible;
	display: list-item;
	
}

.kursOpplysninger li.fotnoter ul {
	list-style-type: disc;
	padding: 0px;
	padding-left: 14px;
}

.kursOpplysninger ul.timefordeling ol {
	list-style-type: decimal;
	padding: 0px;
	padding-left: 14px;
}
 
/* End Fag- og timefordeling */

/* Fagtilbud (publisering) */

.publisering #content_100 {
	float: left;
	width: 908px;
	margin-top: 10px;
	margin-bottom: 10px;	
}

.publisering #content_100 h1 {
	width: 665px;
}

.fagtilbud .tekstkolonne1, .fagtilbud .tekstkolonne2 {
	width: 650px;
	float:left;
	margin-top: 10px;
}
.fagtilbud .tekstkolonne2 {
	width: 216px;
}
.fagtilbud .spacekolonne {
	width: 42px;
	float:left;
}
.fagtilbud table.kontaktperson {
	margin-bottom: 12px;
}

.fagtilbud table.kontaktperson td {
	padding: 2px 4px;
}

.fagtilbud table.kontaktperson td.ledetekst {
	font-weight: bold;
	padding: 2px 0px;
}

.fagtilbud .toggleTitle {
	margin: 2% 0% 0% 0%;
}

.fagtilbud .toggleCollapsed .toggleTitle {
	margin: 2% 0%;
}

.publisering .fagtilbud .submit {
	margin-bottom: 10px;
}

.fagtilbud h3 {
	font-size: 1.3em;
	margin-top: 20px;
	font-weight: bold;
}

.fagtilbud h4 {
	margin-top: 10px;
	font-style: italic;
}

.fagtilbud h4.lareplan {
	font-weight: bold;
	font-style: normal;
	margin-top: 6px;
}

.fagtilbud h3.afterHeader {
	margin-top: 10px;
}

.fagtilbud .afterHeader, .fagtilbud h4.afterHeader {
	margin-top: 2px;	
}


/* End fagtilbud (publisering) */

/* Login v2 */
.loginform {
	border: solid 2px black;
	margin-left: auto;
	margin-right: auto;
	width: 230px;
	padding: 10px;	
}

.loginform .inputText {
	margin-bottom: 12px;
}
/* End Login v2 */

/* KursSkoler (Side 1.5) */

.skoleliste li.fotnoterHeader {
	margin-top: 6px;
	font-size: 14px;
	background-color: #FFFFFF;
	margin-bottom: 0px;
}
.skoleliste li.fotnoter {
	background-color: #FFFFFF;
}
.skoleliste li.fotnoter p {
	margin-top: 0px;
}
.skoleliste li.fotnoter ul {
	list-style-type: disc;
	padding: 0px;
	padding-left: 14px;
}

/* Skoleliste på fagsiden (1.2.1) */
.skoleliste li.info {
	background-color: #FFFFFF;
	font-style: italic;
}
/* End Skoleiste på fagsiden */


/* End KursSkoler */


/************** INTERESSETEST v2 ***************/
.interessetest_v2 {
	width: 725px;
	position: static!important;
}
.interessetest_v2 h1 {
	float: left;
	width: 500px;
}

.interessetest_v2 .interessetestSide {
	float: right;
	width: 222px;
	margin-top: 6px;
	color: green;
	font-size: 22px;
	font-weight: bold;
	text-align: right;
}

.rightAlignedText .interessetestSide {
	float: left;
	text-align: left;
}

.interessetest_v2 #falang_nav {
	float: right;
}

.rightAlignedText #falang_nav {
	float: left;
}

.interessetest_v2 div.interessetestTekst {
	width: 500px;
	margin-bottom: 1.0em;
	border: solid 0px blue;
}
.interessetest_v2 table.interessetestSporsmals th {
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 12px;
}

.interessetest_v2 table.interessetestSporsmals th.scaleInteresse {
	text-align: left;
}
.interessetest_v2 table.interessetestSporsmals td {
	border-bottom: solid 1px #AAA;
	border-top: solid 1px white;
	font-weight: normal;
}
.interessetest_v2 div.interessetestTekst #Artikkel ul {
	margin-bottom: 0px;
}

.interessetest_v2 .scaleInteresse {
	width: 260px;
	font-weight: bold;
}
.interessetest_v2 .scaleInteressevalg {
	width: 60px;
}

.interessetest_v2 table.interessetestSporsmals tr.knapper td {
	border-bottom: solid 1px #FFF;
}
.interessetest_v2 #toppMeny ul {
	margin-left: 0px;	
}
.interessetest_v2 #toppMeny ul li {
	float: left;
}
.interessetest_v2 #toppMeny ul li.selected a, .interessetest_v2 .interessetestSvar a.valgt {
	color: red;
}
table.interessetestSvar {width:700px;font-size: 11px;}
table.interessetestSvar td.interessetestSvarRetning {color:#666;font-weight:bold;}
table.interessetestSvar td.interessetestSvarProgram a{padding-left:1.0em;}
table.interessetestSvar td.interessetestSvarProgram a.valgt{background:url(../img/redbox.gif) top left no-repeat; padding-left:10px;margin:0px}
table.interessetestSvar td.interessetestSvarHead {padding-bottom:0.5em;padding-top:0.3em;border-top:solid 1px gray;}
table.interessetestSvar td {border-bottom:solid 1px gray;}

div.interessetestSporsmal div.programbeskrivelse, div.interessetestSporsmal div.prog_media {margin-top: 24px;}
div.programbeskrivelse div.head_ {margin-bottom:5px;}
div.programbeskrivelse ul{list-style-type:disc;padding-left:0px}
td.svarHead {width:160px;padding-top:1.0em;}
div.interessetestSporsmal #toppMeny li a {font-size:1.0em;}
table.visInteressesvar ul.interessetest {
	list-style-type: disc;
	margin:0px 4px 0px 0px;
	padding-left: 12px;
}
.rightAlignedText table.visInteressesvar ul.interessetest {
	margin:0px 0px 0px 4px;
	padding-left: 0px;
	padding-right: 12px;
}


table.visInteressesvar ul.interessetest li {
	margin:0px;
}

.falang_nav .current {
	font-size: 11px;
	margin-bottom: 3px;
}

#falang_nav li a {
	min-height: inherit;
}

.globe_icon {
	width: 22px;
	height: 22px;
	background: url(../img/spriteme/sprite.png) top left no-repeat #FFFFFF;
	background-position: -10px -660px;
	position: relative;
	top: -4px;
	float: left;
	margin-right: 4px;
	}


/* RTL Languages */
.rightAlignedText table.interessetestSporsmals th.scaleInteresse {
	text-align: right;
}
.rightAlignedText h1.title {
	float: right;
}
.rightAlignedText .interessetestSide {
	float: left;
}
.rightAlignedText #toppMeny ul li {
	float: right;
}
.rightAlignedText .prog_content_full h1, .rightAlignedText .prog_content h1 {
	padding-left: 0px;
	padding-right: 38px;
}
.rightAlignedText .prog_content_full h4, .rightAlignedText .prog_content h4 {
	margin-left: 0px;
	margin-right: 40px;
}
.rightAlignedText .grid {
	float: right;
}
.rightAlignedText .prog_content_full {
	padding-right: 0px;
	padding-left: 20px;
}

.rightAlignedText .prog_content .fotnoter p {
	margin-right: 10px;
	margin-left: 0px;
}


.rightAlignedText .prog_big_icon {
	left: auto;
	right: 0px;
}
.rightAlignedText .prog_big_BA{ background-position: -457px -10px; }
.rightAlignedText .prog_big_DH{ background-position: -498px -10px; }
.rightAlignedText .prog_big_EL{ background-position: -539px -10px; }
.rightAlignedText .prog_big_HS{ background-position: -580px -10px; }
.rightAlignedText .prog_big_ID{ background-position: -621px -10px; }
.rightAlignedText .prog_big_MK{ background-position: -662px -10px; }
.rightAlignedText .prog_big_MD{ background-position: -703px -10px; }
.rightAlignedText .prog_big_NA{ background-position: -744px -10px;}
.rightAlignedText .prog_big_RM{ background-position: -785px -10px;}
.rightAlignedText .prog_big_SS{ background-position: -826px -10px;}
.rightAlignedText .prog_big_ST{ background-position: -867px -10px;}
.rightAlignedText .prog_big_TP{ background-position: -908px -10px;}
.rightAlignedText .prog_big_AO{ background-position: -1327px -10px;}

/* End RTL Languages */



/************* END INTERESSETEST v2 *************/


 /************* ORDFORKLARINGER *************/
.meny_ordforklaringer {
 
 }
.meny_ordforklaringer a , .meny_ordforklaringer span {
 	font-size: 16px;
 }
 
.ordforklaringer .char {
	text-align: center;
	font-size: 18px;
}
.ordforklaringer .ord {
	font-weight: bold;
}
.ordforklaringer .forklaring {
	margin-bottom: 12px;
}

.ordforklaring {
	border-bottom: dotted 2px #CDCDCD;
	cursor: help;
}

 
  /********** END ORDFORKLARINGER ***********/

 /************* OPPSLAG v2 *************/
 #oppslag .oppslagKolonne {
 	float: left;
 	width: 222px;
 	padding: 8px;
 	border-right: dotted 2px #CDCDCD;
 	min-height: 640px;
 }
 
  /********** END OPPSLAG v2 ***********/
  
/************* Utlisting av bedriftstilbud pr kurs *************/

table.bedriftstilbud {
	width: 1200px;
	border-collapse: collapse;
 }
 
 table.bedriftstilbud tr td {
	border-top: solid 2px #ccdde7;
	padding: 0px 2px;
}

table.bedriftstilbud td {
	background-color: #fff;
	padding: 3px;
	border-right: solid 0px #ccdde7;
}
 
table.bedriftstilbud tr.header td {
	border-top: solid 2px #fff;
}

table.bedriftstilbud tr.header h2 {
	margin-top: 12px;
}

table.bedriftstilbud tr.header td,
table.bedriftstilbud tr.header2 td {
	font-weight: bold;
}

table.bedriftstilbud tr.fylkesbytte td {
	padding-top: 12px;
}

table.bedriftstilbud tr.kommunebytte td {
	border-color: #99aab4;
}

table.bedriftstilbud tr.kontorbytte td,
table.bedriftstilbud tr.utenforfylke td  {
	padding-top: 10px;
	border-color: #99aab4
}

table.bedriftstilbud td.medlem,
table.bedriftstilbud tr.kommunebytte td.medlem,
table.bedriftstilbud tr.utenforfylke td.medlem {
	width: 8px;
	background-color: #fff;
	border-top: solid 2px #fff;
	border-color: #fff;
}

/*
table.bedriftstilbud td.medlemnavn,
table.bedriftstilbud tr.kommunebytte td.medlemnavn {
	border-color: #ccdde7; 
}
*/

/*********** End Utlisting av bedriftstilbud pr kurs *************/  


/********* Utlisting av kurstilbud i bedrift pr fylke **************/

ul.bedriftskurs {
	list-style-type: none;
	margin: 0px;
}
ul.bedriftskurs li.retning {
	font-size: 16px;
	margin: 16px 0px 4px 0px;
}

/******** End utlisting av kurstilbud i bedrift pr fylke **********/


