/* ==|== Vertical menu styles =====================================================
   Author: James Borillo
   Company: Lex Norsk Samfunnsinformasjon as
   Department: IT
   ========================================================================== */

/************* Vertical Nav Begin **************/

#vertical_nav {
	width: 190px;
	line-height: 1.3em;
	float:left;
}

#vertical_nav .menu {
	margin-left:-7px;
	margin-bottom:12px;
}

#vertical_nav a {
	display:block;
	text-decoration: none;
	color: #404040;
	padding:2px;
}

#vertical_nav a:hover {
	color: #AAAAAA;
}

#vertical_nav .menu_container .menu_content {
	background: #666666;
	padding:8px 2px 8px 13px;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
	min-height: 30px;
}

#vertical_nav .menu_container .menu_content a {
	color: #FFFFFF;
}

#vertical_nav .menu_container .menu_content a.utdanningsprogram {
	background: white;
	color: #666;
	margin: 0 5px 0 -20px;
	padding: 3px 0 3px 20px;
	-webkit-box-shadow: 2px 2px 3px #888;
	-moz-box-shadow: 2px 2px 3px #888;
	-o-box-shadow: 2px 2px 3px #888;
	box-shadow: 2px 2px 3px #888;
}
#vertical_nav .active_1 .menu_container .menu_content a.utdanningsprogram {
	background:#666;
	color:white;
}

#vertical_nav .active_1 {
	background: #FFFFFF;
	padding:10px;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
}

#vertical_nav .active_1.connect_content { 
	width: 191px;
	border-right: 1px dashed #BBBBBB;
	-webkit-box-shadow: 0px 2px 3px #888888;
	-moz-box-shadow: 0px 2px 3px #888888;
	-o-box-shadow: 0px 2px 3px #888888;
	box-shadow: 0px 2px 3px #888888;
}

#vertical_nav .nav_parent_active {
	margin-left:-17px;
}

#vertical_nav .nav_parent_active .menu_content{
	background: #ED1C24;
}

#vertical_nav .nav_child_active .menu_content {
	background:none;
	-webkit-box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    padding: 0 0 5px 3px;
    border-bottom: 1px solid #BBB;
    min-height: 0;
    margin-bottom: 5px;
}

#vertical_nav .nav_child_active .menu_content a {
	color:#404040;
}

#vertical_nav a.utdanningsprog_menu {
	padding-right:12px;
	margin-right: 8px;
	position:relative;
}

#vertical_nav a.utdanningsprog_menu .utdanningsprog_pointer {
	position:absolute;
	top:0;
	right:0;
	/*background:url('../img/image_right_arrow_white.png')no-repeat right 3px;*/
	background: url(../img/spriteme/sprite.png) no-repeat;
	background-position: -47px -160px;
	width:15px;
	height:20px;
}

#vertical_nav .active_1 a.utdanningsprog_menu .utdanningsprog_pointer {
	/*background:url('../img/image_right_arrow_red.png')no-repeat right 3px;*/
	background-position: -44px -192px;
}

#vertical_nav .nav_parent_active a.utdanningsprog_menu .utdanningsprog_pointer {
	background:none;
	margin-right:0;
}

#vertical_nav ul.sub_level {padding-left:8px;}
#vertical_nav ul.sub_level ul {
	border-top:1px solid #BBB;
}
#vertical_nav ul.sub_level a {
	font-size:.9em;
}

#vertical_nav .sub_level_active > a {
	background: #ED1C24;
	color:#FFFFFF;
	-webkit-box-shadow: 2px 2px 3px #888888;
	-moz-box-shadow: 2px 2px 3px #888888;
	-o-box-shadow: 2px 2px 3px #888888;
	box-shadow: 2px 2px 3px #888888;
}

#vertical_nav .active_2 > a {
	margin-left:-25px;padding-left:28px;
}
#vertical_nav .active_3 > a {
	margin-left:-33px;padding-left:36px;
}
#vertical_nav .active_4 > a {
	margin-left:-41px;padding-left:44px;
}
#vertical_nav .active_5 > a {
	margin-left:-49px;padding-left:52px;
}
#vertical_nav .active_6 > a {
	margin-left:-57px;padding-left:60px;
}

.showVertMenu {
	display:none;
}

/***** Override defaults *****/

#prog_nav {
	margin:10px 0;
}
