.hidden {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
 
.bold {
	font-weight: bold;
}
.absolute {
	position: absolute;
}
.menuItem4D, .call4D, .tip4D {
	cursor: pointer;
}

.menuItem4D {
}
.menuItem4D:hover, .item4D:hover {
	background-color: #CDCDCD;
}

.menuItems4D {
	position:absolute;
	left: 0px;
	z-index:80;
	background-color:white;
	padding: 4px 4px 4px 0px;
	border: solid 1px #999999;
	width: 120px;;
}

.menu_4D {
	position:relative;
	background: url(/img/menu4D.png);
	height:20px;
	font-size:16px;
	float:left;
	cursor:pointer;
	padding-right: 4px;
}

.menuBar4D, .tip4D {
	float:left;
}

.tip4D {
	padding-right:6px;
}

.itemShow, .itemHide {
	background-image: url(/img/item.png);
	background-position: 0px -2px;
	background-repeat: no-repeat;
	padding-left: 18px;
}
.itemShow {
	background-position: 0px -20px;
}

.subitems {
	padding-left:12px;
}

.tooltip {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #FFFF99;
	display: none;
	width: 300px;
	padding: 6px;
	z-index: 999;
}


/******** Popup v4 **********/
div.disableBG {
	background-color: gray;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
	size:10pt;
}
.outerpair1 {
	background: url(/img/ds_right_top.png) right top no-repeat;
}
.outerpair2 {
	background: url(/img/ds_bottom_left.png) left bottom no-repeat;
	padding-top: 20px;
	padding-left: 20px;
}
.shadowbox {
	background: url(/img/ds_shadow.png) bottom right;
}
.popupWindow {
	display: none;
	z-index: 110;
	position: absolute;
	top: 0px;
	left: 0px;
}
.popupWindow textarea {
	font-family: Verdana;
	font-size: 1.0em;
}
.dialogPopUpWrapper {
	position: absolute;
	z-index: 110;
}
.dialogContent {
	position: relative;
	top: -20px;
	left: -20px;
	background-color: #FAFAFA;
	padding-bottom: 8px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
	border-top: solid 1px #CCC;
	border-left: solid 1px #CCC;
}
.dialogContent h1 {
	font-size: 12px;
	line-height: 17px;
	margin-top: 2px;
	background-color: #678E9E;
	color: #FFF;
	padding: 0px 2px 2px 4px;
}
.dialogContent h2 {
	font-size: 12px;
	margin-bottom: 4px;
	color: #678E9E;
}

.dialogContent th {
	font-weight: normal;
}
.txtButtonsRight {
	padding-top: 6px;
}
.txtButtonsRight .button {
	float: right;
	margin-left: 4px;
}
/******** END Popup v4 *************/


/************************************/
/* JQUERY-UI						*/
/************************************/
/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 0.9em/*{fsDefault}*/; }
/************************************/
/* END JQUERY-UI					*/
/************************************/
