/* ==|== Yrker styles =====================================================
   Author: James Borillo
   Company: Lex Norsk Samfunnsinformasjon as
   Department: IT
   ========================================================================== */
.yrker {}
.yrker h1, .yrker h2 {
	width: 550px;
}
.nonSelected a{
	opacity: 1!important;
}

.yrkerAlfabetisk h1, .yrkerFagruppe h1 {
	font-size:1.5em;
}

.yrkerAlfabet, .yrkerFagrupper {
	width:165px;
	margin-top:20px !important;
	float:left;
	border-right:1px dashed #888;
}

.yrkerAlfabetisk, .yrkerFagruppe {
	width:535px;
	margin-left:10px!important;
	float:left;
	margin-left:5px;
}

.yrkerAlfabet li a, .yrkerAlfabetisk li a, .yrkerFagrupper li a {
	display:block;
	background-color:#A4D7EB;
	margin-bottom:5px;
	margin-right:10px;
	padding: 3px 10px 3px 3px;
	color:#000;
	text-decoration:none;
}
.yrkerFagruppe li a {
	display:block;
	color:#000;
	text-decoration:none;
	padding: 3px;
}
.yrkerFagruppe .kolonne li {
	background-color: #A4D7EB;
	margin-bottom:5px;
}
.yrkerFagruppe .kolonne li.letter {
	background-color: #FFFFFF;
}


.yrkerFagruppe li a.intervju {
	text-align: right;
	padding: 0px 18px 0px 3px;
	font-size: 10px;
	position:relative;
}

.yrkerFagruppe li a.intervju .mikrofon{
	/*background:url('../img/mikrofon.jpg') no-repeat 98% 50% #A4D7EB;*/
	background: url(../img/spriteme/sprite.png) no-repeat;
	background-position: -1259px -8px;
	text-indent: -9999px;
	width:20px;
	height:20px;
	position:absolute;
	right:0;
	top:0;
}


.yrkerAlfabetisk li, .yrkerFagruppe li {
	float:left;
	width:170px;
	margin-right:5px;
}

.yrkerAlfabetisk .yrke li {
	width: 100%;
}

.yrkerAlfabetisk li .kolonne li, .yrkerFagruppe li .kolonne li {
	float: none;
}

.yrkerAlfabetisk li a {
	width:165px;
	padding:3px;
}

.yrkerAlfabetisk li:nth-child(3n+4), .yrkerFagruppe li:nth-child(3n+4) { 
	clear:both;
}

.yrkerAlfabet li.selected a, .yrkerFagrupper li.selected a {
	background:url(../img/arrow_right_white_s.png) no-repeat 98% 50% #A4D7EB;
}

.yrkerAlfabet li:not(.selected) a, .yrkerFagrupper li:not(.selected) a {
	opacity: .5;
}

.yrkerAlfabetisk .yrke {
	width:300px;
	margin-right:15px;
}

.yrkerSidebar {
	width:215px;
}

.yrkerKompetanse{
	margin-left:10px;
	margin-top: 20px;
	width: 714px;
}

.yrkerKompetanse h1 {
	font-size:1.5em;
	margin-bottom:1em;
}

.yrkerKompetanse h2 {
	font-size:1.3em;	
}

.yrkerKompetanse .kompetanse {
	width:435px;
	margin-right:15px;
}

